<template>
  <div class="address-find-user-location">
        <div class="user-location-btn" v-show="locationAvailable && !usingUserLocation" @click="getLocation">
            <span>Use my current location? <slot v-if="loading"></slot></span>
        </div>
        <div class="error" v-show="hadError || noAddresses">
            <p class="error-message error" v-show="hadError">Sorry there was an error trying to get your location information, please try entering your postcode.</p>
            <p class="error-message error" v-show="noAddresses">Sorry we could not find any addresses at your current location.</p>
        </div>
  </div>
</template>

<script>
import axios from 'axios'
import { apis } from './apiCalls.js'

export default {
    name: 'address-find-user-location',
    components: {
    },
    props: {
        index: Number,
        searchAPI: String,
        postcodeAPI: String,
        isTesting: Boolean
    },
    data() {
        return {
            loading: false,
            locationAvailable: true,
            usingUserLocation: false,
            noAddresses: false,
            hadError: false,
            postcodeResults: []
        }
    },
    mounted() {
        this.locationAvailable = navigator.geolocation ? true : false
    },
    methods: {
        getLocation () {
            console.log('getLocation', this.locationAvailable)
            this.loading = true
            const self = this
            navigator.geolocation.getCurrentPosition(this.getPostcodes, function(er){
                console.log(er)
                self.hadError = true
                self.loading = false
            })
        },
        getPostcodes(position) {
            let lon = position.coords.longitude
            let lat = position.coords.latitude
            
            var url = `${this.postcodeAPI}?lon=${lon}&lat=${lat}`
            
            // call api and search for postcodes
            apis.lookup(url, (response) => {
                // hide loading
                this.loading = false
                let postcodeData = response.data.result
                if (postcodeData !== null && postcodeData.length > 0) {
                    this.searchPostcodes(postcodeData)
                } else {
                    this.noAddresses = true
                    this.loading = false
                }
            }, (error) => {
                console.error(error);
                this.loading = false
                this.hadError = true
            })
        },
        searchPostcodes (postcodes) { 
            postcodes.forEach((postcode) => {
                let url
                if (this.isTesting === true) {
                    url = "https://uat-oceanfinance.gptestweb.com/credit-card-form/api/postcode/" + postcode.postcode
                } else {
                    url = this.searchAPI + '' + postcode.postcode
                }

                let activePostcode = 0

                // call api and search for postcodes
                apis.lookup(url, (response) => {
                    console.log('POSTCODE:', postcode.postcode)
                    console.log(response.data)

                    this.postcodeResults.push({
                        'postcode': postcode.postcode,
                        'street': response.data[0].streetName,
                        'addresses': response.data
                    })

                    // bump active postcode value
                    activePostcode++
                    // check if active equal to length (last item)
                    if (activePostcode === postcodes.length - 1) {
                        this.loading = false
                        console.log('ALL COMPLETE')
                        console.log(this.postcodeResults)
                    }
                }, (error) => {
                    this.loading = false
                    console.error(error);
                })
            })
        },




        emitSearch () {
            this.validate()

            if (this.isValid === false) {
                return
            }

            let searchObject = {
                houseNumber: this.houseNumber,
                postcode: this.postcode
            }
            this.$emit('search-manual', searchObject)
        }
    }
}
</script>