<template>
  <div class="address-find-manual address-new">
        <p class="previous-address-text" v-if="index > 1">Where did you live previously?</p>

        <div :class="{ 'focused': firstFocused, 'good': address.houseNumber !== null && !firstFocused }">
            <label :for="'house_number' + index">{{ labelType === 'generic' ? label : "Building number" }}</label>
            <span class="info-message" v-if="searchHelpText">{{ searchHelpText }}</span>
            <div class="input-wrapper mb1" :class="iconClass[0]">
                <input 
                    :name="'house_number' + index" 
                    :id="'house_number' + index"
                    v-model="houseNumber"

                    tabindex="-1"
                    :placeholder="placeholders.house_number"
                    ref="housenumber"
                    type="tel"
                    maxlength="12"

                    @blur="handleFirstInputBlur"
                    @focus="firstFocused = true" /> 
            </div>
        </div>
        <div class="" :class="{ 'error': isValid == false, 'good': isValid == true, 'focused': secondFocused }">
            <!--<label :for="'postcode' + index">Postcode</label>-->
            <label :for="'postcode' + index" v-if="labelType === 'specific-short'">What's your postcode?</label>
            <label :for="'postcode' + index" v-else-if="labelType === 'specific'">Postcode</label>
            <div class="input-wrapper" :class="iconClass[1]">
                <input 
                    :name="'postcode' + index" 
                    :id="'postcode' + index" 
                    v-model="postcode"
                    class="uppercase"  
                    tabindex="-1"
                    ref="postcode"
                    maxlength="8"
                    :placeholder="placeholders.postcode"
                    @blur="handleSecondInputBlur"
                    @focus="secondFocused = true; isValid = null"
                    @keyup="replacePostcodeSpcaces($event)"
                    @keyup.enter="search()" />
            </div>

            <div v-html="validationMessage"></div>
            
            <button type="button" tabindex="-1"
                :disabled="loading" 
                class="btn btn-secondary findAddress" :class="{ 'hideAfter' : loading }"
                @click="handleSubmit()"
            >
                {{ btn_text }} <slot v-if="loading"></slot>
            </button>
        </div>
  </div>
</template>

<script>

import vRules from '@thinknpm/vanilla-validation'
import { validation } from '../../mixins/validation.js'
import { apis } from './apiCalls.js'

export default {
    name: 'address-find-normal',
    components: {
        //TextInput,
        //NumberInput
    },
    props: {
        index: Number,
        address: Object,
        iconClass: Array,
        isTesting: Boolean,
        apiURL: String,
        label: {
            required: false
        },
        btn_text: {
            required: false
        },
        labelType: String,
        searchHelpText: String,
        placeholders: {
            type: Object,
            /* 
            defaults declared in address-block parent component
            specified here for reference only
            ---
            default: {
                house_number: 'House or building number',
                postcode: 'Postcode'
            }
            */
        },
    },
    mixins: [validation],
    data() {
        return {
            houseNumber: null,
            postcode: null,
            firstFocused: false,
            secondFocused: false,
            loading: false
        }
    },
    mounted() {
        // set values from parent component address object
        this.houseNumber = this.address.houseNumber
        this.postcode = this.address.postcode
    },
    methods: {
        handleFirstInputBlur(event) {
          this.firstFocused = false
          this.$emit('blur', event.target)
        },
        handleSecondInputBlur(event) {
          this.secondFocused = false
          this.$emit('blur', event.target)
        },
        handleSubmit() {
          this.search()
          this.$emit('onSubmit')
        },
        validate () {
            // get postcode input
            let postcodeInput = this.$refs.postcode

            // check postcode against vaidation rules
            let result_postcode = [
                vRules.vrule_required(postcodeInput),
                vRules.vrule_postcode(postcodeInput, '<p class="error-message">Sorry, we didn\'t recognise your postcode</p>'),
            ]
            
            // check validation result
            // this function is imported from validation mixin
            // if will set the valid status and error message
            this.mixin_setValidationStatus(result_postcode)
        },
        searchResult (addresses) {
            this.$emit('searchResult', addresses)
        },
        search () {
            // check if valid, and if not block search
            this.validate()
            if (this.isValid === false) {
                return
            }

            // set loading to true whilst API call happening
            this.loading = true

            // create object to contain house number and postcode values
            let searchObject = {
                houseNumber: this.houseNumber,
                postcode: this.postcode
            }

            // build URL for search api lookup
            let apiURL = this.apiURL + this.postcode
    
            // call api and search for addresses
            apis.lookup(apiURL, (response) => {
                // hide loading
                this.loading = false
                // handle data return
                let data = response.data
                this.searchResult({ results: data, search: searchObject })
            }, (error) => {
                console.error(error);
                this.$emit('postcode-search-error', error)
                this.searchResult({ results: false, search: searchObject })
            })
        },
        replacePostcodeSpcaces (event) {
            this.postcode = event.target.value.replace(/  +/g, ' ');
        }
    }
}
</script>