<template>
    <div class="manual-address close-questions">
        <!--<div class="d-flex search-type-selector">
          <span @click="searchType('autocomplete-w-options')">Address Finder</span>
          <span @click="searchType('manual-w-options')" class="active">Manual Entry</span>
        </div>-->
        <br/>
        <text-input label="Flat number"
           placeholder="Flat number"
           inputname="flat"
           :required="false"
           :maxLength="16"
           :textOnly="false"
           :match-pattern="addressSafeRegex"
           :customErrors="{
             matchPattern: 'Oops! That doesn\'t look right. Please enter a valid flat number.'
           }"
           :sectionID="sectionID + 0.2"
           v-on:validated="handleManualAddress($event)"
           @blur="(target) => $emit('blur', target)"
        />
        <text-input label="House name"
           placeholder="House name"
           inputname="houseName"
           :required="false"
           :maxLength="32"
           :textOnly="false"
           :match-pattern="addressSafeRegex"
           :customErrors="{
             matchPattern: 'Oops! That doesn\'t look right. Please enter a valid house name.'
           }"
           :sectionID="sectionID + 0.2"
           v-on:validated="handleManualAddress($event)"
           @blur="(target) => $emit('blur', target)"
        />
        <text-input label="House number"
           placeholder="House number"
           inputname="houseNumber"
           :required="(addressObject.houseName === null || addressObject.houseName === '')"
           :maxLength="16"
           :textOnly="false"
           :match-pattern="addressSafeRegex"
           :customErrors="{
             required: 'Please enter your house number or house name',
             matchPattern: 'Oops! That doesn\'t look right. Please enter a valid house number.'
           }"
           :sectionID="sectionID + 0.2"
           v-on:validated="handleManualAddress($event)"
           @blur="(target) => $emit('blur', target)"
        />
        <text-input label="Street name"
           placeholder="Street name"
           inputname="streetName"
           :required="true"
           :maxLength="60"
           :textOnly="true"
           :match-pattern="addressSafeRegex"
           :customErrors="{
             required: 'Please enter your street name',
             matchPattern: 'Oops! That doesn\'t look right. Please enter a valid street name.'
           }"
           :sectionID="sectionID + 0.2"
           v-on:validated="handleManualAddress($event)"
           @blur="(target) => $emit('blur', target)"
        />
        <text-input label="Town"
           placeholder="Town"
           inputname="town"
           :required="true"
           :maxLength="32"
           :textOnly="true"
           :customErrors="{
             required: 'Please enter your town or city name'
           }"
           :sectionID="sectionID + 0.2"
           v-on:validated="handleManualAddress($event)"
           @blur="(target) => $emit('blur', target)"
        />
        <text-input label="County"
           placeholder="County"
           inputname="county"
           :required="true"
           :maxLength="32"
           :textOnly="true"
           :sectionID="sectionID + 0.2"
           :customErrors="{
             required: 'Please enter your county'
           }"
           v-on:validated="handleManualAddress($event)"
           @blur="(target) => $emit('blur', target)"
        />
        <text-input label="Postcode"
           placeholder="Postcode"
           inputname="postcode"
           :required="true"
           :maxLength="8"
           :textOnly="false"
           :match-pattern="globalPostcodeRegex"
           :customErrors="{
             required: 'Please enter your postcode',
             matchPattern: 'Oops! That doesn\'t look right. Please enter a valid postcode.'
           }"
           :sectionID="sectionID + 0.2"
           v-on:validated="handleManualAddress($event)"
           @blur="(target) => $emit('blur', target)"
        />
        
        <button type="button" v-if="addressConfirmed === false"
            class="btn btn-secondary" 
            @click="confirmManual()">Confirm Address</button>
    </div>
</template>



<script>
import TextInput from './../textinput.vue'

export default {
  name: 'address-find-manual',
  props: {
    type: String,
    sectionID: {
      type: Number
    }
  },
  components: {
    TextInput
  },
  data () {
    return {
      // object containing all data for address
      addressObject:  {
        "flat": null,
        "houseNumber": null,
        "houseName": null,
        "streetName": null,
        "district": null,
        "town": null,
        "county": null,
        "postcode":null,
        "ptcabsCode": null,
        "movedIn": null,
      },
      addressConfirmed: false,
      addressSafeRegex: /^[a-zA-Z-#,\s\d]+$/,
      globalPostcodeRegex: /^[a-zA-Z\s\d]+$/
    }
  },
  mounted () {
   
  },
  methods: {
    hasValue: function (value) {
      return value !== null && value !== undefined && value !== ""
    },
    searchType: function (type) {
        this.$emit('changeSearchType', type)
    },
    handleManualAddress: function (result) {
        this.$set(this.addressObject, result.name, result.value)
    },
    confirmManual: function () {
      this.$eventHub.emit('validate', this.sectionID + 0.2, 'manual-submission')

      let houseNoOrName = (this.hasValue(this.addressObject.houseNumber) || this.hasValue(this.addressObject.houseName))
      let street = this.hasValue(this.addressObject.streetName)
      let town = this.hasValue(this.addressObject.town)
      let postcode = this.hasValue(this.addressObject.postcode)
      
      console.log('confirmed', houseNoOrName, street, town, postcode)
      
      if (houseNoOrName && street && town && postcode) {
        this.$emit('confirmed', this.addressObject)
      }
    }
  }
}
</script>
