<template>
  <div class="address-block address-new">
        <!-- address stage 1 -->
        <!-- finding the address -->
        <template v-if="addressStage === 1">
            <!-- entering house number and postcode -->
            <address-find-normal
                v-if="addressType === 'normal'"
                :label="label"
                :btn_text="btn_text"
                :index="index"
                :address="address"
                :iconClass="[iconClass, iconClass2]"
                :apiURL="searchAPI"
                :isTesting="isTesting"
                :placeholders="placeholders"
                :labelType="labelType"
                :searchHelpText="searchHelpText"
                @searchResult="handleAPIResult($event)"
                @postcode-search-error="$emit('postcode-search-error', $event)"
            >
                <!-- loading image slot -->
                <slot name="address-loading"></slot>
            </address-find-normal>

            <!-- manual address entry -->
            <address-find-manual
                v-else-if="addressType === 'manual' || addressType === 'manual-w-options'"
                :type="addressType"
                :sectionID="sectionID"
                @confirmed="confirmManual($event, sectionID + 0.1)"
                @changeSearchType="searchType($event)"
            />
            
            <!-- autocomplete address search
            <address-find-autocomplete
                v-else-if="addressType === 'autocomplete' || addressType === 'autocomplete-w-options'"
                :type="addressType"
                label="What is your current address?"
                :inputname="inputname"
                :sectionID="sectionID"
                :apiFind="autocompleteAPI[0]"
                :apiRetrieve="autocompleteAPI[1]"
                @confirmed="confirmManual($event, sectionID + 0.1)"
                @changeSearchType="searchType($event)"
                :isTesting="isTesting"
            />

            <address-find-user-location
                v-if="addressType === 'location'"
                :index="1"
                :searchAPI="searchAPI"
                :isTesting="isTesting"
                :postcodeAPI="postcodesAPI"
            >
                <slot name="user-location-loading"></slot>
            </address-find-user-location -->

            <!-- no addresses found error message -->
            <div :class="{ 'error' : isValid == false }">
                <p class="error-message" v-show="!isValid">{{ validationMessage }}</p>
            </div>

            <!-- use manual entry link -->
            <p class="info-message link text-left" @click="addressType = 'manual'" v-show="addressType === 'normal'"><slot name="manual-text"></slot></p>
            <!--<p class="info-message link text-left" @click="addressType = 'manual'" v-show="addressType === 'normal'">Enter address manually</p>-->
            <p class="info-message link text-left" @click="addressType = 'normal'" v-show="addressType === 'manual'">Or use our address lookup</p>
        </template>

    <!-- address stage 1.5 -->
    <!-- selecting the address -->
    <template v-if="addressStage === 1.5">

        <!-- AB Test 'Default' / Original Postcode Lookup Table --> 
        <div v-if="ABListTest === 'default'">

            <div class="question">
                <label :for="inputname + 'address-select'">
                    Please select your {{ index === 1 ? 'address' : 'previous address' }} 
                    <span class="edit-address" @click="resetAddress">Edit</span>
                </label>
                
                <span class="input-wrapper input-select">
                    <select
                        :name="inputname + 'address-select'"
                        :id="inputname + 'address-select'"
                        v-model="selectedAddress" 
                        placeholder="Please select..."
                        @change="addressSelected($event)"
                        @focus="isValid = null">
                            <!-- default option -->
                            <option value="Please select..." :selected="selectedAddress === 'Please select...'" hidden>Please select...</option>
                            <!-- dynamic options -->
                            <option 
                                v-for="(address, index) in addressList" 
                                :key="index +'-' + address.houseNumber + '-' + address.streetName"
                                :value="index">
                                {{ address.summaryline }}
                            </option>
                        </select>
                    </span>
                 </div>
            </div>

            <!-- AB Test 'V1' / Updated Postcode Lookup Table --> 
            <div v-if="ABListTest === 'v1'">

                <div class="question">
                <label :for="inputname + 'address-select'">
                    Please select your {{ index === 1 ? 'address' : 'previous address' }} 
                </label>
                
                <div id="updatedPostCodeTable">
                    <ul
                        :name="inputname + 'address-select'"
                        :id="inputname + 'address-select'"
                        @focus="isValid = null">
                           
                            <li 
                                v-for="(address, index) in addressList" 
                                :key="index +'-' + address.houseNumber + '-' + address.streetName"
                                :value="index" v-on:click="addressSelected($event)">
                                {{ address.summaryline }}
                            </li>
                            <!-- Address Not Listed  -->
                            <li id="not-listed" v-on:click="confirmManualV2($event, sectionID + 0.1)">My address isnâ€™t listed</li>
                            <!-- Address Not Listed  -->
                        </ul>
                        
                        
                    </div>
                 </div>
                <span class="edit-address-v2" @click="resetAddress">Back to postcode search</span>

            </div>

            <!-- AB Test 'V2' / Updated Postcode Lookup Table with Mobile Black Background --> 
            <div v-if="ABListTest === 'v2'">

                <!-- V2 Portal -->
                <portal to="notification-outlet" :disabled="!isActive">      

                    <div class="v2-position-fix">
                        
                        <div class="question">
                            <label id="v2-mobile-hide" :for="inputname + 'address-select'">
                            Please select your {{ index === 1 ? 'address' : 'previous address' }} 
                            </label>

                            <div id="updatedPostCodeTable">
                            <!-- V2 - Inner Table Heading -->
                                <label :for="inputname + 'address-select'">
                                Please select your {{ index === 1 ? 'address' : 'previous address' }} 
                                </label>
                                    <ul
                                    :name="inputname + 'address-select'"
                                    :id="inputname + 'address-select'"
                                    @focus="isValid = null">

                                        <li 
                                        v-for="(address, index) in addressList" 
                                        :key="index +'-' + address.houseNumber + '-' + address.streetName"
                                        :value="index" v-on:click="addressSelected($event)">
                                        {{ address.summaryline }}
                                        </li>

                                        <!-- Address Not Listed  -->
                                        <li id="not-listed" v-on:click="confirmManualV2($event, sectionID + 0.1)">My address isnâ€™t listed</li>
                                        <!-- Address Not Listed  -->
                                    </ul>
                            </div>
                        </div>
                    <span class="edit-address-v2" @click="resetAddress">Back to postcode search</span>

                    </div>

                </portal>

            </div>

        </template>
        

        <!-- address stage 2 -->
        <!-- confirming address and time at address -->
        <template v-if="addressStage === 2">
            <!-- address stage 2 -->
            <!-- confirming correct address -->
            <template v-if="addressStage === 2">
                <portal-target name="notification-outlet"></portal-target>
                <p class="address-confirmation-text">Great, so your {{ index === 1 ? 'current address is...' : 'previous address was...' }}</p>
                <!-- users address -->
                <div class="address-confirmation">
                    <p>
                        <span class="edit-address" @click="resetAddress">Edit</span>
                        <span v-show="address.flat">{{ address.flat }},</span>
                        <span v-show="address.houseName">{{ address.houseName }},<br/></span>
                        <span v-show="(address.streetName || address.houseNumber)">{{ address.houseNumber }} {{ address.streetName }},<br/></span>
                        <span v-show="address.town">{{ address.town }},<br/></span>
                        <span v-show="address.county">{{ address.county }},<br/></span>
                        <span class="uppercase">{{ address.postcode }}</span>
                    </p>
                </div>
       
                <!-- years at address - buttons -->
                <buttons-radio
                    v-if="yearType === 'buttons'"
                    :label="'How many years' + (index === 1 ? ' have ' : ' did ') + 'you' + (index === 1 ? ' lived ' : ' live ') + 'at this address?'"
                    :inputname="inputname + '-years'"
                    :required="true"
                    class="wide-legend double-row"
                    :options="[
                        { name: `Less than 2`, value: 1 },
                        { name: '2', value: 2 },
                        { name: '3', value: 3 },
                        { name: '4', value: 4 },
                        { name: '5', value: 5 },
                        { name: '6 or more', value: 8 }
                    ]"
                    :sectionID="sectionID + 0.2"
                    :columnCount="3"
                    @validated="calculateMoveInText(true, $event)"
                    ref="yearsButtons"
                />
                <time-years-months v-if="yearType === 'double-input'"
                    :inputname="inputname + '-years'" 
                    :label="'How many years' + (index === 1 ? ' have ' : ' did ') + 'you' + (index === 1 ? ' lived ' : ' live ') + 'at this address?'"
                    :value="{ value: address.time_at_address ? address.time_at_address : null }"
                    :required='true'
                    ref="monthYearsInput"
                    :disabled="hideButton"
                    :settings="{
                        support_text: true
                    }"
                />
                <!-- years at address - text -->
                <number-input
                    v-if="yearType != 'buttons' && yearType != 'double-input'"
                    :label="'How many years' + (index === 1 ? ' have ' : ' did ') + 'you' + (index === 1 ? ' lived ' : ' live ') + 'at this address?'"
                    placeholder="e.g. 2"
                    :inputname="inputname + '-years'"
                    :required="true"
                    :minLength="1"
                    :maxLength="2"
                    :sectionID="sectionID + 0.2"
                    :value="yearsAtAddress"
                    :customErrors="{
                        required: 'Please tell us how many years you lived at this address'
                    }"
                    :isPrepop="hideButton"
                    ref="yearsInput"
                />

                <button 
                    type="button"
                    v-show="!hideButton"
                    class="btn btn-next"
                    @click="calculateMoveInText(yearType === 'button', 'btnPress')"
                    >{{ isPrepop === true ? 'Confirm' : 'Continue' }}</button>
            </template>
        </template>
  </div>
</template>


<script>
import ButtonsRadio from '../buttons-radio.vue'
import NumberInput from './../numberinput.vue'
import YearsMonths from './../time-years-months.vue'
import AddressFindNormal from './address-find-normal.vue'
import AddressFindManual from './address-find-manual.vue'

import axios from 'axios'
import moment from 'moment'

import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../../mixins/basic-props.js'
import { validation } from '../../mixins/validation.js'

//import { apis } from './apiCalls.js'
import { stringify } from 'querystring';


export default {
  name: 'addressblock',
  components: {
    AddressFindNormal,
    AddressFindManual,
    //AddressFindAutocomplete,
    //AddressFindUserLocation,
    'time-years-months': YearsMonths,
    ButtonsRadio,
    NumberInput,
  },
  mixins: [basic_props, validation],
  props: {
    ABListTest: {
        type: String,
        default: 'default'
    },
    label: {
        required: false,
        default: "What's your address?"
    },
    searchHelpText: {
        type: String,
        default: null
    },
    manualText: {
        type: String,
        default: null
    },
    btn_text: {
        required: false,
        default: "Find Address"
    },
    index: Number,
    placeholders: {
        type: Object,
        default: {
            house_number: 'House or building number',
            postcode: 'Postcode'
        }
    },
    searchAPI: String,
    autocompleteAPI: Array,
    postcodesAPI: String,
    
    type: {
        type: String,
        default: 'normal'
    },
    labelType: {
        type: String,
        default: 'generic'
    },
    yearType: {
        type: String,
        default: 'input'
    },
    yearsRequired: {
        type: Number,
        default: 2
    },
    isTesting: {
      type: Boolean,
      default: false
    },
    livedYearSubtraction: Number,
    iconClass: String,
    iconClass2: String,
    previousAddress: Object,
    isActive: {
        type: Boolean,
        default: false
    }
  },
  data() {
    return {
        // object containing all data for address
        address:  {
            "flat": null,
            "houseNumber": null,
            "houseName": null,
            "streetName": null,
            "district": null,
            "town": null,
            "county": null,
            "postcode":null,
            "ptcabsCode": null,
            "movedIn": null,
            "lived_for_required_years": null
        },
        addressStage: 1,
        addressType: null,
        pcLabel: null,
        yearsAtAddress: { value: null },
        timeAtAddress: { 
            value: null/*{
                months: null,
                years: null
            }*/
        },
        //addressFound: false,
        addressList: [],
        // used to hold the value of address in select box
        selectedAddress: 'Please select...',
        loading: false,
        hideButton: false
    
    }
  },
  mounted() {
      this.addressType = this.type
      if (this.value && this.value.postcode && this.value.streetName){
        this.address = this.value
        this.addressStage = 2
        if (this.value.movedIn != null) {
            var now = moment()
            var end = moment(this.value.movedIn)

            var duration = moment.duration(now.diff(end));
            var years = duration.asYears();   
            this.yearsAtAddress = { value: Math.round(years) }
        }
      }
  },
  watch: {
    type: function(val){
        this.addressType = val // Important
    }
  },
  methods: {

        searchType: function (event) {
            this.addressType = event
        },

        addressNotFound: function () {
            this.validationMessage = "No addresses found, please check you entered your postcode correctly"
            this.isValid = false
            // hide the loading image
            this.loading = false
            return
        },
        addressCheck(previous, current){
            return JSON.stringify(previous) === JSON.stringify(current);
        },
        createAddress(address){
            return {
                houseName: address.houseName ?  address.houseName.toLowerCase().trim() : '',
                houseNumber: address.houseNumber ?  address.houseNumber.toLowerCase().trim() : '',
                flat: address.flat ? address.flat.toLowerCase().trim() : '',
                streetName: address.streetName ? address.streetName.toLowerCase().trim() : '',
                postcode: address.postcode ? address.postcode.toLowerCase().trim() : ''
            }
        },
        addressFound: function (address) {
            // validate that 'this' address is not equal to previous address
            if (!this.previousAddress || !this.addressCheck(this.createAddress(this.previousAddress), this.createAddress(address))) {
                this.address = address
                this.addressStage = 2
            } else {
                this.addressStage = 1
                this.validationMessage = "The address you selected is the same as your current address, please search again and select a different address."
                this.isValid = false
            }
        },
        resetAddress: function () {
            this.addressStage = 1
            this.addressList = []
            this.selectedAddress = 'Please select...'
            this.isValid = null 
            this.hideButton = false
            
            let tempPostcode = this.address.postcode
            let tempHouseNumber = this.address.houseNumber

            this.address = {
                // keep the house number and postcode when editing 
                "postcode": tempPostcode,
                "houseNumber": tempHouseNumber,
                // null other values
                "flat": null,
                "houseName": null,
                "streetName": null,
                "district": null,
                "town": null,
                "county": null,
                "ptcabsCode": null,
                "movedIn": null,
                'lived_for_required_years': null
            }
        },
        handleAPIResult: function (event) {
            if (event.results === false || event.results.length === 0) {
                this.addressNotFound()
            } else {
                this.handleAddresses(event.results, event.search.houseNumber)
            }
        },
        handleAddresses: function (addresses, houseNumber) {
            let tempAddressList = []
            let tempAddressListMatched = []
         
            // check to see if only one address found
            if (addresses.length === 1) {
                this.addressFound(addresses[0])
                return
            } 

            // if more than 1 address found
            // loop through address and check if address matches house number provided
            for (var i = 0; i < addresses.length; i++) {
                var address = addresses[i]
                
                    // format the 'premise' key to remove any flat value
                    // checks there is a premise available, otherwise nulls the 'formattedHouseNumber'
                    var formattedHouseNumber = address.premise != null ? address.premise.replace(address.flat, '').replace(', ', '') : null
                    // return the address
                if (false && houseNumber !== null && formattedHouseNumber !== null && formattedHouseNumber === houseNumber) {
                        // check the address found is not a flat
                        if (address.flat === null || address.flat === undefined || address.flat === '') {
                            // set the address object based on API result
                            // with matching house number
                            this.addressFound(address)
                            return
                        } else {
                            // if address found is a flat push this to the temp address list
                            tempAddressListMatched.push(address)
                        }
                    } else {
                        // no matching address found
                        // push all addresses to temp address list
                        tempAddressList.push(address)
                    }
                
            }

            // if no house number provided or no match found
            // return all addresses
            this.addressList = tempAddressListMatched.length > 0 ? tempAddressListMatched : tempAddressList
            // go to address selection screen
            this.addressStage = 1.5
        },
        addressSelected: function (event) {
            let selectedAddress = this.addressList[event.target.value]
            this.addressFound(selectedAddress)
        },
        confirmManual: function (event, sectionID) {
            let manualAddress = event
            
            this.$eventHub.emit('validate', sectionID)

            let houseNoOrName = manualAddress.houseNumber !== null || manualAddress.houseName !== null
            let street = manualAddress.street !== null
            let town = manualAddress.town !== null
            let postcode = manualAddress.postcode !== null

            if (houseNoOrName && street && town && postcode) {
                this.addressFound(manualAddress)
            }

        },
        // If manual is pressed inside the postcode finder
        confirmManualV2: function (event, sectionID) {
            let manualAddress = event  
            this.$eventHub.emit('validate', sectionID)
            let houseNoOrName = manualAddress.houseNumber !== null || manualAddress.houseName !== null
            let street = manualAddress.street !== null
            let town = manualAddress.town !== null
            let postcode = manualAddress.postcode !== null

            //Move to stage 1 with address type manual.
            this.addressStage = 1 
            this.addressType = 'manual'
        
        },

        confirmAddress: function () {
            // confirm the address
            this.$emit('addressConfirmed', this.address)
        },
        
        calculateMoveInButtons: function (event) {
            // get inputValue variable from custom number input type
            let yearsAtAddressValue = Number(event.value)

            this.calculateMoveIn(yearsAtAddressValue)
        },
        calculateMoveIn: function (yearsAtAddress, monthsAtAddress) {
            // get inputValue variable from custom number input type
                let yearsAtAddressValue = Number(yearsAtAddress)

                // if this is a second address then we need to set a start date based on the previous address               
                let approxDate
                if (this.previousAddress !== undefined) {
                    approxDate = moment(this.previousAddress.movedIn, "YYYY/MM/DD").subtract(yearsAtAddressValue, 'years')
                } else {
                    approxDate = moment().subtract(yearsAtAddressValue, 'years')
                }

                if (monthsAtAddress) {
                    approxDate = moment(approxDate).subtract(monthsAtAddress, 'months')
                }

                // check that we're asking for a set number of years
                if (this.yearsRequired !== null && this.yearsRequired !== undefined) {
                    // check if user has lived at address required years
                    this.$set(this.address, 'lived_for_required_years', yearsAtAddressValue >= this.yearsRequired)
                } else {
                    this.$set(this.address, 'lived_for_required_years', true)
                }

                // set address object move in date
                this.$set(this.address, 'movedIn', moment(approxDate).format("YYYY/MM/DD") )
                this.$set(this.address, 'time_at_address', { date: moment(approxDate).format("YYYY/MM/DD"), years: yearsAtAddress, months: monthsAtAddress } )

                // confirm the address
                this.confirmAddress()
        },
        calculateMoveInText: function (isButtons, validationType) {
            if (validationType === 'btnPress') {
                // validate the number input value
                this.$eventHub.$emit('validate', this.sectionID + 0.2)
            }

            // if not the button input type
            let yearsInput
            if (isButtons) {
                yearsInput = this.$refs.yearsButtons
            } else if (this.yearType === 'double-input') {
                yearsInput = this.$refs.monthYearsInput
                console.log('double', yearsInput)
            } else {
                yearsInput = this.$refs.yearsInput
            }
                        
            // check years is valid (defaulted to true if using buttons)
            if (yearsInput.isValid) {
                // get inputValue variable from custom number input type
                let yearsAtAddressValue
                if (this.yearType !== 'double-input') {
                    yearsAtAddressValue = Number(yearsInput.inputValue)
                    this.calculateMoveIn(yearsAtAddressValue)
                } else {
                    yearsAtAddressValue = Number(yearsInput.yearValue)
                    let monthsAtAddressValue = Number(yearsInput.monthValue)
                    this.calculateMoveIn(yearsAtAddressValue, monthsAtAddressValue)
                }
                this.hideButton = this.isPrepop
            }
        }
    }
}
</script>