<template>
  <div class="address-block">
    <div class="d-flex search-type-selector" v-show="type === 'autocomplete-w-options'">
        <span @click="searchType('autocomplete-w-options')" class="active">Address Finder</span>
        <span @click="searchType('manual-w-options')">Manual Entry</span>
      </div>
    <div class="question pb0">
      <label :for="inputname + '-autocomplete-input'">{{ label }}</label>
      <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
      <div class="autocomplete">
        <slot v-if="gettingPostcode"></slot>
        <input
          type="text"
          :id="inputname + '-autocomplete-input'"
          :name="inputname + '-autocomplete-input'"
          v-model="inputValue" 
          placeholder="Search street, building, full address" 
          :class="{ 
            'error': isValid == false, 
            'good': isValid == true
          }"
          ref="address"
          @keyup="autocompleteAPI(inputValue)"
          @focus="isValid = null"
        >
        <ul class="autocomplete-list" v-show="addressSuggestions.length > 0">
          <li tabindex="0"
            v-for="address in addressSuggestions" 
            :key="address.Id"
            @keyup.enter="searchFullAddress(address.Id, address.Text)"
            @click="(address.Type === 'Street' || address.Type === 'Postcode') ? autocompleteAPI(address.Text, address.Id) : searchFullAddress(address.Id, address.Text)"
          >
          <span v-if="address.Type === 'Street' || address.Type === 'Postcode'" class="address-highlight">{{ address.Text }}</span>
          <span v-else>{{ address.Text }}</span>
          {{ address.Description }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

import ButtonsRadio from '../buttons-radio.vue'
import TextInput from '../textinput.vue'
import NumberInput from '../numberinput.vue'

import axios from 'axios'
import moment from 'moment'

import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../../mixins/basic-props.js'
import { validation } from '../../mixins/validation.js'

//import 'ideal-postcodes-core'

var CancelToken = axios.CancelToken
var cancel

export default {
  name: 'address-find-autocomplete',
  components: {
    ButtonsRadio,
    NumberInput,
    TextInput
  },
  mixins: [basic_props, validation],
  props: {
    //ideal_postcodes_api_key: String,
    loqateKey: String,
    type: String,
    apiFind: String,
    apiRetrieve: String,
    // this is used to return fake addresses
    // when in test/dev mode
    isTesting: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      //client: new IdealPostcodes.Client({api_key: this.ideal_postcodes_api_key}),
      addressSuggestions: [],

      // object containing all data for address
      addressObject:  {
        "flat": null,
        "houseNumber": null,
        "houseName": null,
        "streetName": null,
        "district": null,
        "town": null,
        "county": null,
        "postcode":null,
        "ptcabsCode": null,
        "movedIn": null,
      },
 
      // array containing list of addresses - populated via API
      addressList: [],
      // boolean to confirm if an address has been found
      specificAddressFound: false,
      
      // used to show/hide loading animation
      addressLoading: false,

      gettingPostcode : false
    }
  },
  
  methods: { 
    searchType: function (type) {
        this.$emit('changeSearchType', type)
    },  
    autocompleteAPI(searchQuery, container) {
      if (searchQuery.length <= 2) {
        return
      }

      if (cancel != undefined) {
        cancel('lookup cancelled');
      }
      console.log('SEARCH:', searchQuery)
      //let searchQuery = this.inputValue//encodeURI(this.inputValue)//.replace("/", "%252F")

      let apiURL
      if (this.isTesting === true) {
          apiURL = "http://localhost:57591/api/postcode/v2/byQuery"
      } else {
          apiURL = this.apiFind
      }

      const url = container === undefined ? `${apiURL}?q=${searchQuery}` :  `${apiURL}?q=${searchQuery}&container=${container}`

      axios.get(url,  {
        cancelToken: new CancelToken(function executor(c) {
            // An executor function receives a cancel function as a parameter
            cancel = c;
        })
      }).then((response) => {
        //console.log("response", response.data)
        let data = response.data
        console.log(data)
        this.gettingPostcode = false

        if (!data[0].hasOwnProperty("Error")) {
          // clear the address list
          this.addressSuggestions = []
          this.addressSuggestions = data
          //console.log(this.addressSuggestions)
        }
      }).catch((er) => {
        //console.log(er)
      })
    },
    searchFullAddress: function (uniqueID, text) {
      console.log('full search!')
      const url = `${this.apiRetrieve}/${uniqueID}`

      axios.get(url, {}).then(response => {
          const address = response.data
          
          console.log(address)

          this.$emit('confirmed', address)

          this.$set(this.addressObject, 'flat', address.flat)
          this.$set(this.addressObject, 'houseNumber', address.houseNumber)
          this.$set(this.addressObject, 'houseName', address.houseName)

          this.$set(this.addressObject, 'streetName', address.streetName)
          this.$set(this.addressObject, 'district', address.district)
          this.$set(this.addressObject, 'town', address.town)
          this.$set(this.addressObject, 'county', address.county)
          this.$set(this.addressObject, 'postcode', address.postcode)
          
          this.specificAddressFound = true
          // clear the address list
          this.addressSuggestions = []
        })
    }
  }
}
</script>
