

<template>
    <fieldset
        :class="['question', fieldsetClass, { 
        'error': isValid == false, 
        'good': isValid == true,
        'fixed2': columns == 2,
        'fixed3': columns == 3,
        'fixed4': columns == 4,
        'prepop': disabled
        }]"
    >
    <legend v-show="label !== null && label !== ''">{{ label }}</legend>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <span class="info-message" v-if="helpHTML !== undefined" v-html="helpHTML"></span>
    
    <slot name="help-above"></slot>

    <div class="d-flex">
        <template v-for="item in options" >
            <input type="radio"
                :value="item.value"
                :id="inputname + '_' + item.value"
                :name="inputname"
                :checked="inputValue.toString().toLowerCase() === item.value.toString().toLowerCase()"
                :key="inputname + '_' + item.value + '_input'" 
                :disabled='disabled'
                @keyup.enter="setValue(item.value)" 
                @keyup.space="setValue(item.value)" 
                ><label v-show="!disabled"
                    :key="inputname + '_' + item.value + '_label'" 
                    :for="inputname + '_' + item.value"
                    :class="item.class"
                    v-html="item.name"
                    @click="setValue(item.value)"
                ></label>
        </template>
        <span class="prepop" v-show="disabled" v-if="inputValue">{{ prepopulated_value() }}</span>
        <span class="edit-input" v-show="disabled" @click="disabled=false">Edit</span>
    </div>

    <slot name="help-below"></slot>
    <span class="error-message">{{ validationMessage }}</span>
</fieldset>
</template>

<script>
import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'

export default {
name: 'buttons-radio',
props: {
    options: Array,
    fieldsetClass: String,
    helpHTML: String,
    columnCount: Number,
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null
        }
      }
    }
},
mixins: [basic_props, validation],
data() {
    return {
        columns: 3
    }
},
/*watch: {
    value: function (newVal) {
      //if (this.useWatch) {
        if (newVal.value === '' || newVal.value === null || newVal.value === undefined || isNaN(newVal.value)) {
          this.inputValue = ''
        } else {
          this.inputValue = newVal.value
        }
      //}
    }
  },*/
created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })

    // if prepopulating set data
    if (this.value !== undefined && this.value.value !== null) {
        this.inputValue = this.value.value
        this.disabled = this.isPrepop && this.isValid
    }
},
mounted() {
    // prepop validation not needed
    
    // work out column count for class settings
    this.calculateColumns(this.columnCount, this.options)
},
methods: {
    setValue: function (value) {
        this.inputValue = value.toString()
        this.$nextTick(function(){
                    this.validate()
        })
        this.$emit('blur', { name: this.inputname, value })
    },
    validate: function(type) {
        // get component element
        let element = this.$el
        // check what validations are required
        // and build and array of booleans (these are then checked to see if input is valid)
        let result = [
            // conditional validation rules
            this.required ? vRules.vrule_btn_required(element, this.customErrors.required) : true,
        ]

        // check validation result
        // this function is imported from validation mixin
        // if will set the valid status and error message
        this.mixin_setValidationStatus(result)
        
        // create tempValue to get value from selected input
        let tempValue
        if (this.isValid){
            let checkedElm = element.querySelector(':checked')
            this.inputValue = checkedElm ? checkedElm.value : ''
            // check if question is true/false
            let isBool = (this.inputValue === 'true' || this.inputValue === 'false')
            // if question is bool, check if the value is equal to true (to return bool)
            // otherwise return the selected value
            tempValue = isBool ? this.inputValue === 'true' : this.inputValue
        }

        // emit the updated value to parent
        // this function is included in the 'validation' mixin
        this.mixin_emitValueObject(type, tempValue, this.inputname, this.isValid, this.validationMessage)
    },
    calculateColumns: function (countProp, options) {
        // check there is no user defined column count provided via prop
        if (countProp === null || countProp === undefined) {
            if (options.length === 2) {
                // if there is 2 options set layout to 2 columns
                this.columns = 2
            } else if (options.length >= 3 && options.length <= 6 && options.length != 4) {
                // if there is between 3-6 options but not 4 options set layout to 3 columns
                this.columns = 3
                // if there is more than 3 options, set the doubleRow variable to true
                /*if (options.length > 3) {
                    this.doubleRow = true
                }*/
            } else if (options.length >= 4) {
                // if there is 4 or more options set layout to 4 columns
                this.columns = 4
                /*if (options.length > 4) {
                    // if there is more than 4 options, set the doubleRow variable to true
                    this.doubleRow = true
                }*/
            }
        } else {
            // if there is a user supplied column count use this as the value
            this.columns = countProp
        }
    },
    prepopulated_value: function () {
        let prepopulated_value = ""
        this.options.forEach(option => {
            if (option.value.toString() == this.inputValue) {
                prepopulated_value = option.name
            }
        })
        return prepopulated_value
    }
}
}
</script>
