

<template>
    <fieldset
      :class="['question', fieldsetClass, { 
        'error': isValid == false, 
        'good': isValid == true,
        'double-row': doubleRow == true,
        'fixed2': columns == 2,
        'fixed3': columns == 3,
        'fixed4': columns == 4,
      }]"
    >
    <legend v-show="label !== null && label !== ''">{{ label }}</legend>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <span class="info-message" v-if="helpHTML !== undefined" v-html="helpHTML"></span>

    <div class="d-flex">
        <template v-for="item in options">
            <input type="checkbox"
                :value="item.value"
                :id="inputname + '_' + item.value"
                :name="inputname"
                :checked="inputValue.indexOf(item.value) !== -1" 
                @change="validate()"
                :key="inputname + '_' + item.value + '_input'"  
                ><label
                    :key="inputname + '_' + item.value + '_label'" 
                    :for="inputname + '_' + item.value"
                    :class="item.class"
                    v-html="item.name"
                ></label>
        </template>
    </div>
    <span class="error-message">{{ validationMessage }}</span>
</fieldset>
</template>

<script>
// create event hub for validation events
// // import Vue from 'vue'
//import EventHub from 'vue-event-hub'
//Vue.use(EventHub)

import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'

export default {
name: 'buttons-checkbox',
props: {
    options: Array,
    fieldsetClass: String,
    helpHTML: String,
    columnCount: Number,
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null
        }
      }
    }
},
mixins: [basic_props, validation],
data() {
    return {
        inputValue: [],
        columns: 3,
        doubleRow: false,
    }
},
created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })

    // if prepopulating set data
    if (this.value !== undefined) {
        this.inputValue = this.value.value
    }
},
mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined) {
        if (this.value.value !== '' && this.value.value !== null) {
          this.validate('prepopulated')
        }
    }
    // work out column count for class settings
    this.calculateColumns(this.columnCount, this.options)
},
methods: {
    validate: function(type) {
        // get component element
        let element = this.$el
        // check what validations are required
        // and build and array of booleans (these are then checked to see if input is valid)
        let result = [
            // conditional validation rules
            this.required ? vRules.vrule_btn_required(element, this.customErrors.required) : true,
        ]

        // check validation result
        // this function is imported from validation mixin
        // if will set the valid status and error message
        this.mixin_setValidationStatus(result)
        
        if (this.isValid){
            let selectedInputs = element.querySelectorAll(':checked')
            if (selectedInputs.length > 0) {
                // reset value
                this.inputValue = []
                // loop through and add values
                selectedInputs.forEach(input => {
                    this.inputValue.push(input.value)
                })
            }
        } else {
            this.inputValue = []
        }

        // emit the updated value to parent
        // this function is included in the 'validation' mixin
        this.mixin_emitValueObject(type, this.inputValue, this.inputname, this.isValid)
    },
    calculateColumns: function (countProp, options) {
        // check there is no user defined column count provided via prop
        if (countProp === null || countProp === undefined) {
            if (options.length === 2) {
                // if there is 2 options set layout to 2 columns
                this.columns = 2
            } else if (options.length >= 3 && options.length <= 6 && options.length != 4) {
                // if there is between 3-6 options but not 4 options set layout to 3 columns
                this.columns = 3
                // if there is more than 3 options, set the doubleRow variable to true
                if (options.length > 3) {
                    this.doubleRow = true
                }
            } else if (options.length >= 4) {
                // if there is 4 or more options set layout to 4 columns
                this.columns = 4
                if (options.length > 4) {
                    // if there is more than 4 options, set the doubleRow variable to true
                    this.doubleRow = true
                }
            }
        } else {
            // if there is a user supplied column count use this as the value
            this.columns = countProp
        }
    }
}
}
</script>
