<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true
    }">
    
    <fieldset class="checkbox">
      <input type="checkbox" 
        :id="inputname" 
        :name="inputname" 
        value="true" 
        
        v-model="inputValue"
        @keyup.enter="inputValue = !inputValue"
        @change="validate()"><label :for="inputname"></label>
      
      <legend v-if="label">{{ label }}</legend>
      <p class="multiline" v-if="description" v-html="description"></p>
      <p class="error-message">{{ validationMessage }}</p>
    </fieldset>
  </div>
</template>

<script>
// :checked="inputValue"
// create event hub for validation events
// import Vue from 'vue' 
//import EventHub from 'vue-event-hub'
//Vue.use(EventHub)

import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'

export default {
  name: 'checkboxinput',
  props: {
    description: String,
    // overwrite label prop from basic_props mixin
    // making it non-required
    label:  {
      type: String,
      required: false
    },
  },
  mixins: [basic_props, validation],
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })

    // if prepopulating set data
    if (this.value !== undefined) {
      this.inputValue = this.value.value
    } else {
      this.inputValue = false
    }
  },
  mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined) {
        if (this.value.value !== '' && this.value.value !== null) {
          this.validate('prepopulated')
        }
    }
  },
  methods: {
    validate: function(type) {
        let elm = this.$el.querySelector('fieldset')
        // check what validations are required
        // and build and array of booleans (these are then checked to see if input is valid)
        let result = [
          // conditional validation rules
          this.required ? vRules.vrule_checkboxTrue(elm) : true
        ]
        
        // check validation result
        // this function is imported from validation mixin
        // if will set the valid status and error message
        this.mixin_setValidationStatus(result)

        // emit the updated value to parent
        // this function is included in the 'validation' mixin
        this.mixin_emitValueObject(type, this.inputValue, this.inputname, this.isValid, this.validationMessage)
    }
  }
}
</script>
