<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true,
      'focused': focused === true,
      'prepop': disabled
    }">
    <label v-if="label !== null && label !== ''" :for="inputname">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>

    <slot name="help-above"></slot>
    
    <span class="input-wrapper" :class="iconClass" v-show="!disabled">
      <input
        type="tel"
        :name="inputname"
        :id="inputname"
        v-model="inputValue" 
        :placeholder="placeholder ? placeholder : label" 
        :minlength="minLength ? minLength : ''"
        :maxlength="maxLength ? maxLength : ''"
        :disabled="disabled"
        :class="{ 
          'error': isValid == false, 
          'good': isValid == true
        }"
        @blur="validate(); focused = false; $emit('blur', $event.target)"
        @keydown="characterBlocking($event)"
        @keydown.enter="hitEnter()"
        @keyup="applyFormatting($event)"
        @focus="isValid = null; focused = true"
      ><!--@keyup.enter="validate()"-->
    </span>

    <span class="prepop" v-show="disabled">{{ inputValue }}</span>
    <span class="edit-input" v-show="disabled" @click="handleEdit">Edit</span>
    
    <template v-if="calculation !== undefined && !disabled">
      <span class="info-message supporting-below dark" 
        v-show="unformatCurrency(inputValue) > 0" 
        v-html="calculation(inputValue, formatCurrency)"></span>
    </template>

    <slot name="help-below"></slot>
    <span class="info-message supporting-below" v-if="lowerHelpText !== undefined && !disabled">{{ lowerHelpText }}</span>
    <p class="error-message">{{ validationMessage }}</p>

    <template v-if="lowAmount !== undefined && isValid === true && !disabled">
      <span class="info-message supporting-below warning" v-show="lowAmount.value >= unformatCurrency(inputValue)">
          {{ lowAmount.message }}
      </span>
    </template>
  </div>
</template>

<script>
import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'
import { block } from '../utilities/key-blocking.js'

export default {
  name: 'currencyinput',
  props: {
    minLength: Number,
    maxLength: Number,
    minValue: Number,
    maxValue: Number,
    lowAmount: Object,
    placeholder: String,
    calculation: Function,
    lowerHelpText: String,
    customErrors: {
      type: Object,
      // default values require nulling
      // this stops 'undefined' error
      default: function () { 
        return {
          required: null,
          minLength: null,
          maxLength: null,
          minValue: null,
          maxValue: null
        }
      }
    }
  },
  watch: {
    value: function (newVal) {
      if (this.useWatch) {
        if (newVal.value === '' || newVal.value === null || newVal.value === undefined || isNaN(newVal.value)) {
          this.inputValue = ''
        } else {
          this.inputValue = this.formatCurrency(newVal.value)
        }
      }
      
    }
  },
  mixins: [basic_props, validation],
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })

    // if prepopulating set data
    if (this.value !== undefined && this.value.value != null) {
      // format and set the value
      this.inputValue = this.formatCurrency(this.value.value)
    }
  },
  mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined && this.value.value != null) {
      this.validate('prepopulated')
      this.disabled = this.isPrepop && this.isValid;
    }
  },
  methods: {
    validate: function(type) {
        // get element for validation
        let elm = this.$el.querySelector('input')
        
        // check what validations are required
        // and build and array of booleans (these are then checked to see if input is valid)
        let result = [
          // default input type validation rule
          vRules.vrule_currency(elm),
          // conditional validation rules
          this.required ? vRules.vrule_required(elm, this.customErrors.required) : true,
          this.minLength ? vRules.vrule_minLength(elm, this.minLength, this.customErrors.minLength) : true,
          this.maxLength ? vRules.vrule_maxLength(elm, this.maxLength, this.customErrors.maxLength) : true,
          this.minValue ? vRules.vrule_minValue(elm, this.minValue, this.customErrors.minValue): true,
          this.maxValue ? vRules.vrule_maxValue(elm, this.maxValue, this.customErrors.maxValue): true
        ]
        
        // check validation result
       // this function is imported from validation mixin
        // if will set the valid status and error message
        this.mixin_setValidationStatus(result)

        // emit the updated value to parent
        // this function is included in the 'validation' mixin
        let unformatted = this.unformatCurrency(this.inputValue)
        this.mixin_emitValueObject(type, unformatted, this.inputname, this.isValid, this.validationMessage)
    },
    hitEnter: function () {
      this.validate()

      if (this.isValid) {
        const self = this
        setTimeout(function(){
          self.$emit('hitEnter')
        }, 200)
      }
    },
    characterBlocking: function (event) {
      // block user from entering decimals
      block.decimals(event)
      // block user from entering letters
      block.letters(event)
    },
    applyFormatting: function (event) {
      event = event || window.event;
      const charCode = (typeof event.which == "undefined") ? event.keyCode : event.which;
      // block formatting on delete key unless the value length more than 2 (£0)
      let notDeleteKey = (charCode != 46 && charCode != 8)
      let lengthMoreThanOrEqualTo2 = event.target.value.length >= 2
      if (notDeleteKey || lengthMoreThanOrEqualTo2) {
        // format input value
        this.inputValue = this.formatCurrency(event.target.value)
      }
    },
    unformatCurrency: function (value) {
      // check value not already a number type
      if (value && isNaN(value) || value === "0") {
        // remove formatting
        let unformatted = value.replace("£", "").replace(/,/g, "")
        // return value as number
        return Number(unformatted)
      } else if (!isNaN(value)){
        // return value
        return value
      }
    },
    formatCurrency: function (value) {
      if (value === null || value === '') {
        return
      }

      // unformat value
      let numValue = this.unformatCurrency(value)
      if (isNaN(numValue)) {
        return '£'
      }
      // check value is not null
      else if (numValue !== null) {
        // return formatted value
        var formatted = '£' + parseFloat(numValue).toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
        return formatted
      }
    },
    handleEdit: function () {
      this.disabled = false;
      this.$emit('onEditClick')
    }
  }
}
</script>

