

<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true,
      'focused': focused === true,
      'prepop': disabled
    }">
    <label v-show="label !== null && label !== ''">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <slot name="help-above"></slot>
    
    <!-- Legend -->
    <div>
        <div class="block-container">
            <div>Day</div>
            <div>Month</div>
            <div>Year</div>
        </div>
    </div>

    <div class="input-wrapper three-col-input" :class="iconClass" v-show="!disabled">
        <div class="block-container">
        <input 
            ref='date'
            type="tel" class="day" maxlength="2" 
            v-model="dayValue"
            :autocomplete="autocomplete !== undefined ? autocomplete.day : null" 
            :disabled="disabled"
            @blur="onBlur($event, 'dayValue'); focused = false" 
            @focus="isValid = null; focused = true"
            @keydown="characterBlocking($event)"
            @keyup="onKeyUp($event, true); softValidate ? validate('soft') : null"
            @keyup.enter="hitEnter()">
        <span>/</span>
        <input type="tel" class="month" maxlength="2" 
            v-model="monthValue" 
            :autocomplete="autocomplete !== undefined ? autocomplete.month : null" 
            :disabled="disabled"
            @blur="onBlur($event, 'monthValue'); focused = false" 
            @focus="isValid = null;  focused = true"
            @keydown="characterBlocking($event)"
            @keyup="onKeyUp($event, true); softValidate ? validate('soft') : null"
            @keyup.enter="hitEnter()">
        <span>/</span>
        <input type="tel" class="year" maxlength="4" 
            v-model="yearValue"
            :autocomplete="autocomplete !== undefined ? autocomplete.year : null" 
            :disabled="disabled"
            @blur="onBlur($event, 'yearValue'); focused = false" 
            @focus="isValid = null;  focused = true"
            @keydown="characterBlocking($event)"
            @keyup="onKeyUp($event, false); softValidate ? validate('soft') : null"
            @keyup.enter="hitEnter()">
        </div>
    </div>

    <span class="prepop" v-show="disabled">{{ `${dayValue}/${monthValue}/${yearValue}` }}</span>
    <span class="edit-input" v-show="disabled" @click="disabled=false">Edit</span>
    
    <slot name="help-below"></slot>
    <span class="error-message" v-html="validationMessage"></span>
  </div>
</template>

<script>
import moment from 'moment';

import vRules from '@thinknpm/vanilla-validation';
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'
import { block } from '../utilities/key-blocking.js'

export default {
  name: "dateinput",
  props: {
    minAge: Number,
    maxAge: Number,
    notBeforeDate: String,
    placeholder: String,
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null,
          ageRange: null
        }
      }
    }
  },
  mixins: [basic_props, validation],
  data() {
    return {
      dayValue: "",
      monthValue: "",
      yearValue: "",
      completeDate: null
    };
  },
  /*watch: {
    value: function (date){
      if (date.value !== null && this.completeDate !== date.value) {
        this.prepopulateDate(date.value)
      }
    }
  },*/
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })

    // if prepopulating set data
    /*if (this.value !== undefined) {
      this.prepopulateDate(this.value.value)
        //this.completeDate = this.value.value
    }*/
  },
  mounted() {
    if (this.value !== undefined) {
      if (this.value.value !== '') {
        this.prepopulateDate(this.value.value, "prepopulated")
        this.disabled = this.isPrepop && this.isValid;
      }
    }

  },
  methods: {
    validate: function(type) {
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // default input type validation rule
        vRules.vrule_date(this.completeDate),
        // conditional validation rules
        this.required ? vRules.vrule_date_required(this.completeDate, this.customErrors.required) : true,
        this.minAge && this.maxAge
          ? vRules.vrule_ageRange(this.completeDate, [this.minAge, this.maxAge], this.customErrors.ageRange)
          : true,
        this.notBeforeDate ? vRules.vrule_notBeforeX(this.completeDate, this.notBeforeDate, this.customErrors.notBeforeDate) : true
      ];

      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result, type === 'soft', true)

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      let dateValue = moment(this.completeDate, "YYYY/MM/DD").format('YYYY/MM/DD')
      this.mixin_emitValueObject(type, dateValue, this.inputname, this.isValid, this.validationMessage)
    },
    createDate: function (inputName) {
      if (
        inputName === 'yearValue' ||
        (this.dayValue.toString().length === 2 &&
          this.monthValue.toString().length === 2 &&
          this.yearValue.toString().length === 4)
      ) {
        // update completeDate variable
        this.completeDate = this.yearValue + "/" + this.monthValue + "/" + this.dayValue
        // validate completeDate variable
        this.validate(this.completeDate)
      } else {
        // set value to false, so that required isnt passed by empty completeDate variable
        this.completeDate = false;
      }
    },
    hitEnter: function (event) {
      this.createDate()

      if (this.isValid) {
        const self = this
        setTimeout(function(){
          self.$emit('hitEnter')
        }, 200)
      }
    },
    prepopulateDate: function (date, validationType) {
      if (date !== null) {
        // set commplete date for validation
        this.completeDate = moment(date, "YYYY/MM/DD")

        if (this.completeDate.isValid()) {
          // split date into DD MM YYYY for individual inputs
          let momentDate = this.completeDate
          this.dayValue = momentDate.date().toString().length === 1 ? '0' + momentDate.date() : momentDate.date()
          this.monthValue = (momentDate.month() + 1).toString().length === 1 ? '0' + (momentDate.month() + 1) : (momentDate.month() + 1)
          this.yearValue = momentDate.year()
          
          // validate the new value
          this.validate(validationType)
        }
      }
    },
    characterBlocking: function (event) {
      // block user from entering decimals
      block.decimals(event)
      // block user from entering letters
      block.letters(event)
    },

    onBlur: function(event, inputName) {
      let tempValue = this[inputName]
      // check if the input length is either 1 or if the input contains letters
      if (
        tempValue.length === 1 || ( tempValue.length === 2 && tempValue.match(/[a-z]/i) )
      ) {
        // remove letters and add 0 to start of value
        this[inputName] = '0' + tempValue.replace(/[a-z]/i, "")
      }

      // if the input is the last input and all inputs have the correct length
      // update completeDate variable with the full formatted date
      // then validate the date value
      this.createDate()
    },

    onKeyUp: function(event, shouldSkipToNextInput) {
      // move focus to next input once active input is completed
      // get active input value
      var inputValue = event.target.value
      // get active input value length
      var inputValueLength = inputValue.length

      // move to next input field
      // if active input has 2 characters
      if (inputValueLength == 2 && inputValue.match(/^\d+$/) != null) {
        // if active input is not last
        if (shouldSkipToNextInput) {
          // if not shift (shiftKey || 16) + tab (9) keys (for backtabbing)
          if (!event.shiftKey && event.keyCode !== 16 && event.keyCode !== 9) {
            // move focus to next input (skipping <span>/</span> tags)
            event.target.nextElementSibling.nextElementSibling.focus()
          }
        }
      }

      this.createDate()
    }
  }
};
</script>
