


<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true,
      'focused': focused === true,
      'prepop': disabled
    }">
    <label :for="inputname" v-show="label !== null && label !== ''">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <slot name="help-above"></slot>
    
    <span class="input-wrapper" :class="iconClass" v-on:click='$refs.email.focus()' v-show="!disabled">
      <input
        ref='email'
        type="email"
        class="just-input"
        v-model="inputValue"
        :id="inputname"
        :name="inputname"
        :autocomplete="autocomplete"
        :placeholder="placeholder ? placeholder : label" 
        :maxlength="maxLength ? maxLength : ''"
        :disabled="disabled"
        :class="{ 
          'error': isValid == false, 
          'good': isValid == true
        }"
        @keyup="softValidate ? validate('soft') : null"
        @keydown.enter="hitEnter()"
        @blur="validate(); focused = false, verifyEmail(); $emit('blur', $event.target)"
        @focus="isValid = null; focused = true; first_focus = true"
      >
    </span>

    <span class="prepop" v-show="disabled">{{ inputValue }}</span>
    <span class="edit-input" v-show="disabled" @click="disabled=false">Edit</span>
    
    <!-- did you mean xyz@xyz.com? -->
    <p v-if="suggested_email" class='warning-message'>
         Did you mean <strong @click="setEmail(); validate();">{{ suggested_email.length > 20 ? trimmed_suggested_email : suggested_email }}</strong>?
    </p>
    <!-- please focus message -->
    <p v-if="first_focus && show_focus_message" class="focus-message">Make sure this is correct, so you don't miss out!</p>
    <!-- error validation message -->
    <slot name="help-below"></slot>
    <p class="error-message">{{ validationMessage }}</p>
  </div>
</template>

<script>
import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'
import Mailcheck from 'mailcheck';

export default {
  name: 'emailinput',

  data: function () {
    return  {
      email: "",
      suggested_email: undefined,
      trimmed_suggested_email: undefined,
      first_focus: false,
      check_mail: false,
      suggested_domains: ['gmail.com', 'gmail.co.uk', 'googlemail.com', 'hotmail.co.uk', 'hotmail.com', 'yahoo.com','yahoo.co.uk', 'icloud.com', 'outlook.com', 'live.co.uk', 'live.com', 'btinternet.com', 'btopenworld.com', 'sky.com', 'aol.com', 'aol.co.uk', 'mail.com','msn.com', 'ymail.com', 'virginmedia.com', 'rocketmail.com', 'tiscali.co.uk', 'ntlworld.com', 'blueyonder.co.uk', 'talk21.com']
    }
  },

  props: {
    placeholder: String,
    maxLength: Number,
    use_mailcheck:  {
      type: Boolean,
      default: false
    },
    show_focus_message: {
      type: Boolean,
      default: false
    },
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null
        }
      }
    }
  },

  mixins: [basic_props, validation],
  created () {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })

    // if prepopulating set data
    if (this.value !== undefined) {
        this.inputValue = this.value.value
    }
  },
  mounted () {
    // if prepopulating validate the data
    if (this.value !== undefined) {
        if (this.value.value !== '' && this.value.value !== null) {
          this.validate('prepopulated')
          this.disabled = this.isPrepop && this.isValid;
        }
    }
    // check prop setting for weather we should use mailcheck.js
    this.check_mail = this.use_mailcheck
  },


  methods: {
    // use mailcheck.js to check for potential spelling mistakes in the email address
    verifyEmail: function () {
      let self = this;
      if (this.check_mail) {
        // using mailcheck.js to check for email spelling mistakes
        Mailcheck.run({
          domains: this.suggested_domains,       
          email: self.inputValue,
          suggested: function (suggestion) {
            // looks like a spelling mistake
            // provide suggested correction
            self.suggested_email = suggestion.full;
            self.trimmed_suggested_email = suggestion.domain;
          },
          empty: function () {
            // no issues found in email
            self.suggested_email = undefined;
            self.trimmed_suggested_email = undefined;
          }
        });
      }
    },

    setEmail: function () {
      this.$emit('onSuggestedClick', {
        email: this.suggested_email,
        domain: this.trimmed_suggested_email
      })

      this.inputValue = this.suggested_email;
      this.suggested_email = undefined;
      this.trimmed_suggested_email = undefined;
    },

    validate: function(type) {
      let elm = this.$el.querySelector('input')
      
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // default input type validation rule
        vRules.vrule_email(elm),
        // conditional validation rules
        this.required ? vRules.vrule_required(elm, this.customErrors.required) : true,
        this.maxLength ? vRules.vrule_maxLength(elm, this.maxLength,this.customErrors.required) : true
      ]

      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result, type === 'soft')

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      this.mixin_emitValueObject(type, this.inputValue, this.inputname, this.isValid, this.validationMessage)

      // check if the input passed email regex validation
      // if it does and the use_mailcheck prop === true
      // then set check_mail var to true
      // the check_mail var is true then the email will additionally be validated using the mailcheck.js plugin
      // this will check for spelling mistakes in common email domains
      this.isValid && this.use_mailcheck ? this.check_mail = true : this.check_mail = false;
    },
    hitEnter: function () {
      this.validate()

      if (this.isValid) {
        const self = this
        setTimeout(function(){
          self.$emit('hitEnter')
        }, 200)
      }
    }
  }
}
</script>