

<template>
  <div class="form-group" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true
    }">
    <label class="form-control-label">{{ label }}</label>
    <span class="info-message" v-if="helpText !== null && helpText !== ''">{{ helpText }}</span>
    <div class="d-flex">
      <span class="input-wrapper" :class="iconClass">
        <input
          v-model="inputValue" 
          :placeholder="label" 
          :minlength="minLength ? minLength : ''"
          :maxlength="maxLength ? maxLength : ''"
          
          :class="{ 
            'error': isValid == false, 
            'good': isValid == true
          }"
          @change="validate"
          @blur="validate"
          @focus="isValid = null"
        >
      </span>
      <button type="button" class="btn btn-primary" @click="buttonClicked">{{ btnText }}</button>
    </div>
    <p class="error-message">{{ validationMessage }}</p>
  </div>
</template>

<script>
import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'

export default {
  name: 'textinputbutton',
  props: {
    minLength: Number,
    maxLength: Number,
    btnText: String,
  },
  mixins: [basic_props, validation],
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })
    
    // if prepopulating set data
    if (this.value !== undefined) {
        this.inputValue = this.value.value
    }
  },
  mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined) {
        this.validate('prepopulated')
    }
  },
  methods: {
    validate: function(type) {
      let elm = this.$el.querySelector('input')
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // conditional validation rules
        this.required ? vRules.vrule_required(elm) : true,
        this.minLength ? vRules.vrule_minLength(elm, this.minLength) : true,
        this.maxLength ? vRules.vrule_maxLength(elm, this.maxLength) : true
      ]
      
      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result)

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      this.mixin_emitValueObject(type, this.inputValue, this.inputname, this.isValid, this.validationMessage)
    },

    buttonClicked: function(){
      this.$emit('buttonClicked', this.inputValue)
    }
  }
}
</script>
