<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true,
      'focused': focused === true
    }">
    <label v-show="label !== null && label !== ''" :for="inputname">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <slot name="help-above"></slot>

    <span class="input-wrapper" :class="iconClass">
      <input
        :id="inputname"
        :name="inputname"
        v-model="inputValue" 
        :placeholder="placeholder ? placeholder : label" 
        :autocomplete="autocomplete"
        :minlength="minLength ? minLength : ''"
        :maxlength="maxLength ? maxLength : ''"
        :class="{
          'error': isValid == false, 
          'good': isValid == true
        }"
        type="tel"
        :disabled="disabled"
        @blur="handleBlur"
        @focus="isValid = null; focused = true"
        @keydown="characterBlocking($event)"
        @keydown.enter="hitEnter()"
      >
    </span>
    <slot name="help-below"></slot>
    <p class="error-message">{{ validationMessage }}</p>
  </div>
</template>

<script>
import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'
import { block } from '../utilities/key-blocking.js'

export default {
  name: 'numberinput',
  props: {
    minLength: Number,
    maxLength: Number,
    placeholder: String,
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null,
          minLength: null,
          maxLength: null
        }
      }
    }
  },
  mixins: [basic_props, validation],
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })
    // if prepopulating set data
    if (this.value !== undefined) {
      if (this.value.value !== null) {
        this.inputValue = this.value.value
      }
    }
  },
  mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined) {
      if (this.value.value !== null) {
        this.validate('prepopulated')
        this.disabled = this.isPrepop && this.isValid;
      }
    }
  },
  methods: {
    handleBlur: function(event) {
      this.validate();
      this.focused = false;
      this.$emit('blur', event)
    },
    validate: function(type) {
      let elm = this.$el.querySelector('input')
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // default input type validation rule
        vRules.vrule_numberInput(elm),
        // conditional validation rules
        this.required ? vRules.vrule_required(elm, this.customErrors.required) : true,
        this.minLength ? vRules.vrule_minLength(elm, this.minLength, this.customErrors.minLength) : true,
        this.maxLength ? vRules.vrule_maxLength(elm, this.maxLength, this.customErrors.maxLength) : true,
      ]
      
      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result)

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      this.mixin_emitValueObject(type, this.inputValue, this.inputname, this.isValid, this.validationMessage)
    },
    hitEnter: function () {
      this.validate()

      if (this.isValid) {
        const self = this
        setTimeout(function(){
          self.$emit('hitEnter')
        }, 200)
      }
    },
    characterBlocking: function (event) {
      // block user from entering decimals
      block.decimals(event)
      // block user from entering letters
      block.letters(event)
    }
  }
}
</script>
