<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true,
      'focused': focused === true,
      'prepop': disabled
    }">
    <label :for="inputname" v-show="label !== null && label !== ''">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <slot name="help-above"></slot>
    <span class="input-wrapper" :class="iconClass" v-show="!disabled">
      <input
        :type="input_type === 'password' ? 'password' : 'text'"
        :id="inputname"
        :name="inputname"
        :autocomplete="autocomplete"
        :placeholder="placeholder ? placeholder : label" 
        :minlength="minLength ? minLength : ''"
        :maxlength="maxLength ? maxLength : ''"
        :class="{ 
          'error': isValid == false, 
          'good': isValid == true
        }"
        :disabled="disabled"
        v-model="inputValue"
        @keyup="softValidate ? validate('soft') : null"
        @keyup.enter="hitEnter()"
        @blur="validate(); focused = false"

        @focus="isValid = null; focused = true"
      >
      <span @click="toggle_password_setting(input_type)" class="password-toggle" :class="{ visible: input_type === 'password' }"></span>
    </span>

    <span class="prepop" v-show="disabled">{{ inputValue }}</span>
    <span class="edit-input" v-show="disabled" @click="disabled=false">Edit</span>
    <slot name="help-below"></slot>
    <p class="error-message">{{ validationMessage }}</p>
    <slide-transition :active="inputValue.length > 0">
      <span class="password-checks">
        <template v-for="check in passwordChecks">
          <span class="check" :key="check.label" :class="{ passed: check.passed }">{{ check.label }}</span>
        </template>
      </span>
    </slide-transition>
  </div>
</template>


<script>
import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'
import { block } from '../utilities/key-blocking.js'
import SlideTransition from './slide-transition'
export default {
  name: 'passwordinput',
  props: {    
    minLength: Number,
    maxLength: Number,
    placeholder: String,
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null,
          minLength: null,
          maxLength: null
        }
      }
    }
  },
  components: {
    'slide-transition': SlideTransition
  },
  mixins: [basic_props, validation],
  data () {
    return {
      input_type: 'password'
    }
  },
  watch: {
    value: function (newVal) {
      if (this.useWatch) {
        if (newVal.value === '' || newVal.value === null) {
          this.inputValue = ''
        } else {
          this.inputValue = newVal.value
        }
      }
    }
  },
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })
    // if prepopulating set data
    if (this.value !== undefined) {
        this.inputValue = this.value.value
    }
  },
  mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined) {
      
        if (this.value.value !== '' && this.value.value !== null) {
          this.validate('prepopulated')
          this.disabled = this.isPrepop && this.isValid;
        }
    }
  },
  computed: {
    passwordChecks () {
      let checks = {
        length: {
          passed: false,
          label: 'At least 8 characters'
        },
        upper: {
          passed: false,
          label: '1 uppercase character'
        },
        number: {
          passed: false,
          label: '1 number'
        }
      }

      if (this.inputValue) {
        checks.length.passed = this.inputValue.length >= 8
        checks.upper.passed = /(?=.*[A-Z])/.test(this.inputValue)
        checks.number.passed = /(?=.*\d)/.test(this.inputValue)
      }

      return checks
    }    
  },
  methods: {
    validate: function(type) {
      let elm = this.$el.querySelector('input')
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // conditional validation rules
        this.required ? vRules.vrule_required(elm, this.customErrors.required) : true,
        this.minLength ? vRules.vrule_minLength(elm, this.minLength, this.customErrors.minLength) : true,
        this.maxLength ? vRules.vrule_maxLength(elm, this.maxLength, this.customErrors.maxLength) : true,
      ]
      
      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result, type === 'soft')

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      this.mixin_emitValueObject(type, this.inputValue, this.inputname, this.isValid, this.validationMessage)
    },
    hitEnter: function () {
      this.validate()

      if (this.isValid) {
        const self = this
        setTimeout(function(){
          self.$emit('hitEnter')
        }, 200)
      }
    },
    toggle_password_setting: function (set_as_password) {
      this.input_type = set_as_password === 'password' ? 'text' : 'password'
    }
  }
}
</script>
