

<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true
    }">
    <label :for="inputname" v-show="label !== null && label !== ''">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <div class="columns two-third">
      <span class="input-wrapper" :class="iconClass">
        <input type="tel"
          :id="inputname"
          :name="inputname"
          :placeholder="placeholder ? placeholder : label"
          :autocomplete="autocomplete"
          :maxlength="maxLength ? maxLength : ''"
          :class="{ 
            'error': isValid == false, 
            'good': isValid == true
          }"
          v-model="inputValue" 
          @keydown="characterBlocking"
          @keyup="softValidate ? validate('soft') : null"
          @keyup.enter="hitEnter()"
          @change="checkFormatting"
          @blur="validate(); focused = false"
          @focus="isValid = null; focused = true"
        >
      </span>
      <span v-if="setValueVariable !== null">
        <button type="button" class="btn btn-small" @click="setValue">{{ btnCopy }}</button>
      </span>
    </div>
    <p class="error-message">{{ validationMessage }}</p>
  </div>
</template>

<script>
import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'
import { block } from '../utilities/key-blocking.js'

export default {
  name: 'phone-input-w-button',
  props: {
    type: String,
    placeholder: String,
    maxLength: Number,
    btnCopy: String,
    setValueVariable: String
  },
  mixins: [basic_props, validation],
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })

    // if prepopulating set data
    if (this.value !== undefined) {
        this.inputValue = this.value.value
    }
  },
  mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined) {
        if (this.value.value !== '' && this.value.value !== null) {
          this.validate('prepopulated')
        }
    }
  },
  methods: {
    validate: function(type) {
      let elm = this.$el.querySelector('input')
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // conditional validation rules
        this.required ? vRules.vrule_required(elm): true,
        this.type == null ? vRules.vrule_anyPhone(elm) : true,
        this.type == 'mobile' ? vRules.vrule_mobileNumber(elm) : true,
        this.type == 'home' ? vRules.vrule_homeNumber(elm) : true,
      ]
      
      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result, type === 'soft')

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      this.mixin_emitValueObject(type, this.inputValue, this.inputname, this.isValid, this.validationMessage)
    },
    characterBlocking: function (event) {
      if (this.type == 'mobile' && event.target.value.length > 10) {
        const charCode = (typeof event.which == "undefined") ? event.keyCode : event.which;
        const notDeleteKey = (charCode != 46 && charCode != 8)
        const notArrowKey = (charCode != 37 && charCode != 38 && charCode != 39 && charCode != 40)
        if (notDeleteKey & notArrowKey) {
          event.preventDefault()
        }
      }
      
      // block user from entering decimals
      block.decimals(event)
      // block user from entering letters
      block.letters(event)
    },
    checkFormatting: function (event) {
      var phonenumber = event.target.value.replace(/\s+/g, '')

      if (phonenumber.substring(0, 2) === "07") {
        this.inputValue = phonenumber
      } else if (phonenumber.substring(0, 4) === "+447") {
        this.inputValue = "0" + phonenumber.substring(3)
        event.target.value =  "0" + phonenumber.substring(3)
      } else if (phonenumber.substring(0, 3) === "447") {
        this.inputValue = "0" + phonenumber.substring(2)
        event.target.value =  "0" + phonenumber.substring(2)
      } else if (phonenumber.substring(0, 1) === "7") {
        this.inputValue = "0" + phonenumber
        event.target.value =  "0" + phonenumber
      }
    },
    setValue: function () {
      //this.$el.querySelector('input').value = this.setValueVariable
      this.inputValue = this.setValueVariable
      var self = this
      setTimeout(function(){
        self.validate()
      }, 100)
      
    }
  }
}
</script>
