

<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true,
      'focused': focused === true,
      'prepop': disabled
    }">
    <label :for="inputname" v-show="label !== null && label !== ''" v-html="label"></label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <slot name="help-above"></slot>

    <span class="input-wrapper" :class="iconClass" v-on:click='$refs.phone.focus()' v-show="!disabled">
      <input type="tel"
        ref='phone'
        :id="inputname"
        :name="inputname"
        :placeholder="placeholder ? placeholder : label"
        :autocomplete="autocomplete"
        :maxlength="maxLength ? maxLength : ''"
        :disabled="disabled"
        :class="{ 
          'error': isValid == false, 
          'good': isValid == true
        }"
        v-model="inputValue" 
        @keydown="characterBlocking"
        @keyup="softValidate ? validate('soft') : null"
        @keyup.enter="hitEnter()"
        @change="checkFormatting"
        @blur="validate(); focused = false; $emit('blur', $event.target)"
        @focus="isValid = null; focused = true"
      >
    </span>

    <span class="prepop" v-show="disabled">{{ inputValue }}</span>
    <span class="edit-input" v-show="disabled" @click="handleEdit">Edit</span>
    <slot name="help-below"></slot>
    <p class="error-message">{{ validationMessage }}</p>
  </div>
</template>

<script>
import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'
import { block } from '../utilities/key-blocking.js'

export default {
  name: 'phoneinput',
  props: {
    type: String,
    placeholder: String,
    maxLength: Number,
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null
        }
      }
    }
  },
  mixins: [basic_props, validation],
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })

    // if prepopulating set data
    if (this.value !== undefined) {
        this.inputValue = this.value.value
    }
  },
  mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined) {
        if (this.value.value !== '' && this.value.value !== null) {
          this.validate('prepopulated')
          this.disabled = this.isPrepop && this.isValid;
        }
    }
  },
  watch: {
    value: function (newVal) {
      if (this.useWatch) {
        if (newVal.value === '' || newVal.value === null) {
          this.inputValue = ''
        } else {
          this.inputValue = newVal.value
        }
      }
    }
  },
  methods: {
    validate: function(type) {
      let elm = this.$el.querySelector('input')
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // conditional validation rules
        this.required ? vRules.vrule_required(elm, this.customErrors.required): true,
        this.type == null ? vRules.vrule_anyPhone(elm) : true,
        this.type == 'mobile' ? vRules.vrule_mobileNumber(elm) : true,
        this.type == 'home' ? vRules.vrule_homeNumber(elm) : true,
      ]
      
      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result, type === 'soft')

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      this.mixin_emitValueObject(type, this.inputValue, this.inputname, this.isValid, this.validationMessage)
    },
    hitEnter: function () {
      this.validate()

      if (this.isValid) {
        const self = this
        setTimeout(function(){
          self.$emit('hitEnter')
        }, 200)
      }
    },
    characterBlocking: function (event) {
      if (this.type == 'mobile' && event.target.value.length > 10) {
        const charCode = (typeof event.which == "undefined") ? event.keyCode : event.which;
        const notDeleteKey = (charCode != 46 && charCode != 8)
        const notArrowKey = (charCode != 37 && charCode != 38 && charCode != 39 && charCode != 40)
        const notTabKey = (charCode != 9)
        if (notDeleteKey & notArrowKey & notTabKey) {
          event.preventDefault()
        }
      }
      // block user from entering spaces
      block.spaces(event)
      // block user from entering decimals
      block.decimals(event)
      // block user from entering letters
      block.letters(event)
    },
    checkFormatting: function (event) {
      var phonenumber = event.target.value.replace(/\s+/g, '')

      if (phonenumber.substring(0, 2) === "07") {
        this.inputValue = phonenumber
      } else if (phonenumber.substring(0, 4) === "+447") {
        this.inputValue = "0" + phonenumber.substring(3)
        event.target.value =  "0" + phonenumber.substring(3)
      } else if (phonenumber.substring(0, 3) === "447") {
        this.inputValue = "0" + phonenumber.substring(2)
        event.target.value =  "0" + phonenumber.substring(2)
      } else if (phonenumber.substring(0, 1) === "7") {
        this.inputValue = "0" + phonenumber
        event.target.value =  "0" + phonenumber
      }
    },
    handleEdit: function () {
      this.disabled = false;
      this.$emit('onEditClick')
    }
  }
}
</script>
