<template>
    <div class="vue-nouislider" :class="{ buttonToggle: show_buttons }">
      <label :for="inputname" v-if="label !== null && label !== ''">{{ label }}</label>

      <button v-if="show_buttons" class="slider-btn decrease" @click="decrease" type="button"></button>
      <div ref="slider"></div>
      <button v-if="show_buttons" class="slider-btn increase" @click="increase" type="button"></button>
    </div>
</template>

<script>
//var noUiSlider = require('nouislider')
import noUiSlider from 'nouislider'
import 'nouislider/distribute/nouislider.css';
import { basic_props } from '../mixins/basic-props.js'

export default {
  name: 'range-slider',
  mixins: [basic_props],
  props: {
    rangeSettings: {
      type: Object,
      required: true
    },
    show_tooltip: {
      type: Boolean,
      default: true
    },
    show_buttons: {
      type: Boolean,
      default: true
    },
    type: String,
  },
  watch: {
    // listen for changes in the range settings and update slider accordingly
    rangeSettings: function (rangeSettings) {
      this.rangeSlider.noUiSlider.updateOptions({ range: rangeSettings })
    },
    value: {
      handler: function (value) {
        this.rangeSlider.noUiSlider.set(value.value)
      },
      deep: true
    }
  },
  data () {
    return {
      rangeSlider: null,
      formatFunction: null,
    }
  },
  mounted () {
    if (this.type === 'currency') {
      this.formatFunction = value => {
        return '£' + parseFloat(value).toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')
      }
    } else if (this.type === 'months') {
      this.formatFunction = value => {
        var months = value > 1 ? ' months' : ' month'
        return value + months
      }
    } else if (this.type === 'years') {
      this.formatFunction = value => {
        var years = value > 1 ? ' years' : ' year'
        return value + years
      }
    } else {
      this.formatFunction = value => {
        return value
      }
    }

    // get rangeSlider HTML element
    // this used vue $refs, see: https://vuejs.org/v2/api/#ref
    this.rangeSlider = this.$refs.slider
    // init the range slider
    this.initRangeSlider()
  },
  methods: {
    unformat (value) {
      var unformatted = value.replace('£', '').replace(' months', '').replace(' years', '').replace(',', '').replace(' ', '')
      return Number(unformatted)
    },
    increase () {
      let stepAmount = this.rangeSlider.noUiSlider.steps()
      stepAmount = stepAmount[0][0] !== null ? stepAmount[0][0] : stepAmount[0][1]

      let currentValue = this.rangeSlider.noUiSlider.get()
      currentValue = this.unformat(currentValue)

      this.rangeSlider.noUiSlider.set(currentValue + stepAmount)
    },
    decrease () {
      let stepAmount = this.rangeSlider.noUiSlider.steps()
      stepAmount = stepAmount[0][0] !== null ? stepAmount[0][0] : stepAmount[0][1]

      let currentValue = this.rangeSlider.noUiSlider.get()
      currentValue = this.unformat(currentValue)
      
      this.rangeSlider.noUiSlider.set(currentValue - stepAmount)
    },
    emitValue (rangeValue, event_name) {
      let tempValue = this.unformat(rangeValue[0])
      /* check the value has changed from prop value */
      if (tempValue !== this.value.value.toString()) {
        let emitObject = {
          value: tempValue,
          name: this.inputname
        }
        this.$emit(event_name, emitObject)
      }
    },
    initRangeSlider () {
      let self = this
      // initialise the range slider
      noUiSlider.create(this.rangeSlider, {
        behaviour: 'tap',
        start: this.value.value,
        connect: 'lower',
        range: this.rangeSettings,
        tooltips: this.show_tooltip,
        animate: true,
        format: {
          to: function (value) {
            // set value to 0 decimals and convert to a string
            let tempValue = value.toFixed(0) + ''
            return self.formatFunction(tempValue)
          },
          from: function (value) {
            let tempValue = self.unformat(value)
            return tempValue
          }
        }
      })

      // listen for change events and emit change to parent
      this.rangeSlider.noUiSlider.on('end', rangeValue => {
        this.emitValue(rangeValue, 'end')
      })
      this.rangeSlider.noUiSlider.on('set', rangeValue => {
        this.emitValue(rangeValue, 'set')
      })
    },
  }
}
</script>

<style>
.vue-nouislider .noUi-handle {
  width: 40px;
  height: 40px;
  top: -10px;
  left: 0;
}
.vue-nouislider .noUi-tooltip {
  position: absolute;
}

/*
.vue-nouislider .noUi-origin {
    width:100%
}*/ 
</style>