<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true
    }">
    <label v-show="label !== null && label !== ''">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <span class="info-message" v-if="helpHTML !== undefined" v-html="helpHTML"></span>
    <slot name="help-above"></slot>

    <span class="input-select input-wrapper" :class="iconClass">
      <select
        v-model="inputValue" 
        :placeholder="label" 
        :class="{ 
          'error': isValid == false, 
          'good': isValid == true
        }"
        @change="validate('validated')"
        @focus="isValid = null"
      > 
        <option value="Please select..." :selected="inputValue === 'Please select...'" hidden>Please select...</option>
        <template v-for="option in options">
          <option 
          :key="option.name" 
          :value="option.value" 
          :selected="inputValue === option.value" >{{ option.name }}</option>
        </template>
      </select>
    </span>
    <slot name="help-below"></slot>
    <p class="error-message">{{ validationMessage }}</p>
  </div>
</template>

<script>
// create event hub for validation events
// import Vue from 'vue'
//import EventHub from 'vue-event-hub'
//Vue.use(EventHub)

import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'

export default {
  name: 'selectinput',
  props: {
    helpHTML: String,
    options: Array,
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null
        }
      }
    }
  },
  mixins: [basic_props, validation],
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })

    // if prepopulating set data
    if (this.value !== undefined && this.value.value !== null) {
      this.inputValue = this.value.value
    } else {
      this.inputValue = 'Please select...'
    }
  },
  mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined) {
        if (this.value.value !== '' && this.value.value !== null) {
          this.validate('prepopulated')
        }
    }
  },
  methods: {
    validate: function(type) {
        let elm = this.$el.querySelector('select')
        // check what validations are required
        // and build and array of booleans (these are then checked to see if input is valid)
        let result = [
          // conditional validation rules
          this.required ? vRules.vrule_required(elm, this.customErrors.required) : true,
        ]
        
        // check validation result
        // this function is imported from validation mixin
        // if will set the valid status and error message
        this.mixin_setValidationStatus(result)

        // emit the updated value to parent
        // this function is included in the 'validation' mixin
        this.mixin_emitValueObject(type, this.inputValue, this.inputname, this.isValid, this.validationMessage)
    }
  }
}
</script>
