

<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true,
      'focused': focused === true
    }">
    <label v-show="label !== null && label !== ''">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <slot name="help-above"></slot>
    <!-- custom date input type -->
    <div class="input-wrapper three-col-input" :class="iconClass">
        <input type="tel" class="day" maxlength="2" placeholder="00" 
            v-model="firstInput" 
            @blur="onBlur($event); focused = false" 
            @focus="onFocus($event); focused = true"
            @keydown="characterBlocking($event)"
            @keyup="onKeyUp">
        <span>/</span>
        <input type="tel" class="month" maxlength="2" placeholder="00" 
            v-model="secondInput" 
            @blur="onBlur($event); focused = false" 
            @focus="onFocus($event); focused = true"
            @keydown="characterBlocking($event)"
            @keyup="onKeyUp">
        <span>/</span>
        <input type="tel" class="last" maxlength="2" placeholder="00" 
            v-model="thirdInput" 
            @blur="onBlur($event); focused = false" 
            @focus="onFocus($event); focused = true"
            @keydown="characterBlocking($event)"
            @keyup="onKeyUp">
    </div>
    <slot name="help-below"></slot>
    <span class="error-message" v-html="validationMessage"></span>
  </div>
</template>

<script>
import vRules from '@thinknpm/vanilla-validation';
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'
import { block } from '../utilities/key-blocking.js'

export default {
  name: "sortcode-input",
  props: {
    minAge: Number,
    maxAge: Number,
    placeholder: String,
    type: {
      default: "",
      type: String
    },
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null
        }
      }
    }
  },
  mixins: [basic_props, validation],
  data() {
    return {
      firstInput: "",
      secondInput: "",
      thirdInput: "",
      completeValue: ""
    };
  },
  watch: {
    value: function (value){
      if (value.value !== null && this.completeValue !== value.value) {
        this.prepopulateDate(value.value)
      }
    }
  },
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })
  },
  mounted() {
    if (this.value !== null && this.value !== undefined) {
      this.prepopulateDate(this.value.value, "prepopulated")
    }
  },
  methods: {
    validate: function(type) {
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // default input type validation rule
        vRules.vrule_numberInput({ value: this.firstInput }, this.customErrors.numberOnly),
        vRules.vrule_numberInput({ value: this.secondInput }, this.customErrors.numberOnly),
        vRules.vrule_numberInput({ value: this.thirdInput }, this.customErrors.numberOnly),
        vRules.vrule_minLength({ value: this.firstInput }, 2, this.customErrors.minLength),
        vRules.vrule_minLength({ value: this.secondInput }, 2, this.customErrors.minLength),
        vRules.vrule_minLength({ value: this.thirdInput }, 2, this.customErrors.minLength),
        // conditional validation rules
        this.required ? vRules.vrule_required({ value: this.completeValue }, this.customErrors.required) : true,
      ];

      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result, true)

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      this.mixin_emitValueObject(type, this.completeValue, this.inputname, this.isValid, this.validationMessage)
    },

    prepopulateDate: function (value, validationType) {
      if (value !== null) {
        // split date into 00 00 00 for individual inputs
        this.firstInput = value.substring(0, 1)
        this.secondInput = value.substring(2, 3)
        this.thirdInput = value.substring(4, 5)
        
        // validate the new value
        this.validate(validationType)
      }
    },
    characterBlocking: function (event) {
      // block user from entering decimals
      block.decimals(event)
      // block user from entering letters
      block.letters(event)
    },

    onBlur: function(event) {
      // if the input is the last input or all inputs have the correct length
      // update completeValue variable with the full formatted value
      // then validate the date value
      if (
        event.target.classList.contains("last") ||
        (this.firstInput.length === 2 &&
          this.secondInput.length === 2 &&
          this.thirdInput.length === 2)
      ) {
        // update completeValue variable
        // from the three input values
        this.completeValue = this.firstInput + "" + this.secondInput + "" + this.thirdInput
        // validate completeValue variable
        this.validate(this.completeValue)
      }
    },

    onFocus: function(event) {
      // set validation status to null
      this.isValid = null;
      // if the input is already complete (length = 2)
      // select all characters to allow for easy editing
      if (event.target.value.length >= 2) {
        event.target.select()
      }
    },

    onKeyUp: function(event) {
      // move focus to next input once active input is completed
      // get active input value
      var inputValue = event.target.value
      // get active input value length
      var inputValueLength = inputValue.length

      // if active input has 2 characters
      if (inputValueLength == 2 && inputValue.match(/^\d+$/) != null) {
        // if active input is not the last
        if (!event.target.classList.contains("last")) {
          // if not shift (shiftKey || 16) + tab (9) keys (for backtabbing)
          if (!event.shiftKey && event.keyCode !== 16 && event.keyCode !== 9) {
            // move focus to next input (skipping <span>/</span> tags)
            event.target.nextElementSibling.nextElementSibling.focus()
          }
        }
      }
    }
  }
};
</script>
