<template>
  <div class="question" :class="{ 
      'error': (isValid[0] == false || isValid[1] == false), 
      'good': (isValid[0] == true && isValid[1] == true),
      'focused': focused === true
    }">
    <label :for="inputname" v-show="label !== null && label !== ''">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <span class="input-wrapper joint-input" :class="iconClass">
      <input
        type="text"
        :id="inputname + '1'"
        :name="inputname + '1'"
        :autocomplete="autocomplete ? autocomplete.first_name : ''"
        v-model="inputValue1"
        :placeholder="placeholder ? placeholder[0] : label" 
        :minlength="minLength ? minLength : ''"
        :maxlength="maxLength ? maxLength : ''"
        :class="{ 
          'error': isValid[0] == false, 
          'good': isValid[0] == true
        }"
        @keydown="characterBlocking($event)"
        @blur="onBlur($event, 0); focused = false"
        @focus="isValid[0] = null; focused = true"
        @keyup="softValidate ? validate('soft', $event.target, 0) : null"
        @keyup.enter="hitEnter($event, 0)"
      >
      <span></span>
      <input
        type="text"
        :id="inputname + '2'"
        :name="inputname + '2'"
        :autocomplete="autocomplete ? autocomplete.surname : ''"
        v-model="inputValue2"
        :placeholder="placeholder ? placeholder[1] : label" 
        :minlength="minLength ? minLength : ''"
        :maxlength="maxLength ? maxLength : ''"
        :class="{ 
          'error': isValid[1] == false, 
          'good': isValid[1] == true
        }"
        @keydown="characterBlocking($event)"
        @blur="onBlur($event, 1); focused = false"
        @focus="isValid[1] = null; focused = true"
        @keyup="softValidate ? validate('soft', $event.target, 1) : null"
        @keyup.enter="hitEnter($event, 1)"

      >
    </span>
    <p class="error-message">
      <span v-show="validationMessage[0] !== ''">{{ validationMessage[0] }}</span>
      <br v-show="validationMessage[0] !== '' && validationMessage[1] !== ''">
      <span v-show="validationMessage[1] !== ''">{{ validationMessage[1] }}</span>
    </p>
  </div>
</template>

<script>
import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'

import { block } from '../utilities/key-blocking.js'

export default {
  name: 'textinput-joint',
  props: {    
    minLength: Number,
    maxLength: Number,
    placeholder: Array,
    value: Array,
    textOnly: {
      type: Boolean,
      default: true
    },
    blockNumbers: {
      type: Boolean,
      default: false
    },
    customErrors: {
      type: [Array, Object],
      default: function () { 
        return {
          required: null,
          minLength: null,
          maxLength: null
        }
      }
    }
  },
  data() {
    return {
      inputValue1: null,
      inputValue2: null,
      completeValue: [],
      isValid: [null, null],
      validationMessage: ['','']
    };
  },
  mixins: [basic_props, validation],

  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      let inputs = this.$el.querySelectorAll('input')
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? inputs.forEach((input, index) => { this.validate('validated', input, index) }) : null
    })
    // if prepopulating set data
    if (this.value !== undefined) {
        this.completeValue = this.value
        this.inputValue1 = this.completeValue[0]
        this.inputValue2 = this.completeValue[1]
    }
  },
  mounted() {
    // if prepopulating validate the data
    if (this.value !== undefined) {
        if (this.value.value !== '' && this.inputValue1 && this.inputValue2) {
          //this.validate('prepopulated')
          let inputs = this.$el.querySelectorAll('input')
          inputs.forEach((input, index) => { 
            this.validate('prepopulated', input, index) 
          })
        }
    }
  },
  methods: {
    validate: function(type, elm, index) {
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // default input type validation rule
        this.textOnly ? vRules.vrule_textInput(elm) : true,
        // conditional validation rules
        this.required ? vRules.vrule_required(elm, this.customErrors[index] ? this.customErrors[index].required: '') : true,
        this.minLength ? vRules.vrule_minLength(elm, this.minLength, this.customErrors[index] ? this.customErrors[index].minLength: '') : true,
        this.maxLength ? vRules.vrule_maxLength(elm, this.maxLength, this.customErrors[index] ? this.customErrors[index].maxLength: '') : true,
      ]
     
      

      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      // check validation result
      if (result.every((data) => data == true)) {
        // if all array items equal true
        // validation passes
        this.$set(this.isValid, index, true)
        this.$set(this.validationMessage, index, '')

        if (this.isValid[0] && this.isValid[1]) {
          // emit the updated value to parent
          // this function is included in the 'validation' mixin
          // create complete value
          this.completeValue = [this.inputValue1, this.inputValue2]
          this.mixin_emitValueObject('validated', this.completeValue, this.inputname, true, this.validationMessage[0] ? this.validationMessage[0] + ' ' : '' + this.validationMessage[1] ? this.validationMessage[1] : '')
        }
      } else if (type !== 'soft') {
        // if there is a validation false boolean
        // loop through and return the first error found
        for (let valCheck of result) {
          if (valCheck != true) {
            // create complete value
            this.completeValue = [this.inputValue1, this.inputValue2]

            // set valid variable to false
            this.$set(this.isValid, index, false)
            // set the error message to the message provided by validation
            let message = valCheck.message
            if (!this.customErrors[index] || message !== this.customErrors[index].required) {
              message = this.placeholder[index] + ' ' + message
            }
            this.$set(this.validationMessage, index, message)
            //emit on error
            this.mixin_emitValueObject(type, this.completeValue, this.inputname, this.isValid, this.validationMessage[0] ? this.validationMessage[0] : '' + ' ' + this.validationMessage[1] ? this.validationMessage[1] : '')
            return
          }
        }
      } else {
        for (let valCheck of result) {
          if (valCheck != true) {
            // set valid variable to null
            this.$set(this.isValid, index, null)
            return
          }
        }
      }
    },
    hitEnter: function (event, index) {
      let elm = event.target
      this.validate('', elm, index)

      if (this.isValid[0] && this.isValid[1]) {
        const self = this
        setTimeout(function(){
          self.$emit('hitEnter')
        }, 200)
      }
    },
    characterBlocking: function (event) {
      if (this.blockNumbers) {
        block.numbers(event)
        block.decimals(event)
      }
    },
    onBlur: function(event, index){
      this.focused = false
      
      let elm = event.target
      this.validate('', elm, index)

      this.$emit('blur', event.target)
      
      /*if (this.isValid[0] && this.isValid[1]) {
          // create complete date
          this.completeValue = [this.inputValue1, this.inputValue2]
          // emit the updated value to parent
          // this function is included in the 'validation' mixin
          this.mixin_emitValueObject('validated', this.completeValue, this.inputname, true)
      }*/
    }  
  }
}
</script>
