<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true,
      'focused': focused === true
    }">
    <label v-show="label !== null && label !== ''">{{ label }}</label>
    <slot name="help-above"></slot>

    <div class="d-flex" :class="iconClass">
      <span class="input-first">
        <span class="info-message" v-if="settings.support_text">Years</span>
        <span class="input-wrapper">
          <input type="tel" maxlength="2" placeholder="Years" v-model="yearValue" @blur="onBlur" @keyup="validate('soft')" @keydown="characterBlocking($event)" />
        </span>
      </span>
      <span>
        <span class="info-message" v-if="settings.support_text">Months</span>
        <span class="input-wrapper">
          <input type="tel" maxlength="2" placeholder="Months" v-model="monthValue" @blur="onBlur" @keyup="validate('soft')" @keydown="characterBlocking($event)"/>
        </span>
      </span>
    </div>

    <slot name="help-below"></slot>
    <span class="error-message" v-html="validationMessage"></span>

    <template v-if="timeSpent !== null && timeSpent !== undefined">
      <span class="info-message supporting-below" v-show="DateCalculation">
          {{ timeSpent.prefix }} <strong>{{ DateCalculation }}</strong> {{ timeSpent.postfix }}
      </span>
    </template>
  </div>
</template>

<script>
import moment from 'moment'

import vRules from '@thinknpm/vanilla-validation'
import { basic_props } from '../mixins/basic-props.js'
import { validation } from '../mixins/validation.js'
import { block } from '../utilities/key-blocking';

export default {
  name: 'time-years-months',
  props: {
    timeSpent: Object,
    settings: {
      type: Object,
      default: {
        support_text: true
      }
    }
  },
  mixins: [basic_props, validation],
  data() {
    return {
      dayValue: '01',
      monthValue: '',
      yearValue: '',
      completeDate: null,
    }
  },
  computed: {
    DateCalculation: function () {
      if (this.completeDate != null) {
        let completeDate = moment(this.completeDate, "YYYY/MM/DD").format("MMMM YYYY")
        return completeDate
      } else {
        return null
      }
    }
  },
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })
  },
  mounted() {
    // if prepopulating add data and valdiate
    if (this.value !== undefined) {
      if (this.value.value !== '' && this.value.value !== null) {
        this.monthValue = this.value.value.months
        this.yearValue = this.value.value.years
        this.completeDate = moment(this.value.value.date).format("YYYY/MM/DD")
        this.validate('prepopulated')
      }
    }
  },
  methods: {
    validate: function(type) {
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // default input type validation rule
        vRules.vrule_date(this.completeDate),
        // conditional validation rules
        this.required ? vRules.vrule_date_required(this.completeDate) : false
      ]     
      
      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result, type === 'soft')

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      let dateValue = moment(this.completeDate, "YYYY/MM/DD").format("YYYY/MM/DD")
      let finalObject = {
        'date': dateValue,
        'years': this.yearValue,
        'months': this.monthValue
      }
      this.mixin_emitValueObject(type, finalObject, this.inputname, this.isValid, this.validationMessage)
    },
    onBlur: function(){
      if (this.monthValue != null && this.monthValue != '' || this.yearValue != null && this.yearValue != '') {
          // minus years entered
          let dateMinusYears = moment().subtract(this.yearValue, 'years')
          // minus months entered
          let dateMinusMonths = moment(dateMinusYears).subtract(this.monthValue, 'months')
          // create complete date
          this.completeDate = moment(dateMinusMonths).format("YYYY/MM/DD")
          this.validate('validated')
      }
    },
    characterBlocking: function(event) {
      // block user from entering spaces
      block.spaces(event)
      // block user from entering decimals
      block.decimals(event)
      // block user from entering letters
      block.letters(event)
    }  
  }
}
</script>