

<template>
  <div class="question" v-bind:class="{ 
      'error': isValid == false, 
      'good': isValid == true,
      'focused': focused === true
    }">
    <label v-show="label !== null && label !== ''">{{ label }}</label>
    <span class="info-message" v-if="helpText !== undefined">{{ helpText }}</span>
    <!--
      @focus="onFocus($event); focused = true"
           @keydown="characterBlocking($event)"
           @keyup="onKeyUp($event, true); softValidate ? validate('soft') : null"
    -->
    <div class="input-wrapper" :class="iconClass">
        <datetime
           type="tel"
           v-model="dateValue"
           @close="createDate();"
           
           :min-datetime="getDateIsoStringFormat()"
           :auto="true"
           :flow="dateType"
           :format="format"
        />
        <span></span>
    </div>

    <span class="error-message" v-html="validationMessage"></span>
  </div>
</template>

<script>
import moment from 'moment';
import vRules from '@thinknpm/vanilla-validation';
import { basic_props } from '../../mixins/basic-props'
import { validation } from '../../mixins/validation.js'
import { block } from '../../utilities/key-blocking.js'
import { Datetime } from 'vue-datetime'
import 'vue-datetime/dist/vue-datetime.css'


export default {
  name: "date-picker",
  props: {
    minAge: Number,
    maxAge: Number,
    minDate: String,
    notBeforeDate: String,
    placeholder: String,
    format: {
      type: String,
      default: 'dd/MM/kkkk'
    },
    dateType: {
      type: Array,
      default: () => ['date']
    },
    customErrors: {
      type: Object,
      default: function () { 
        return {
          required: null,
          ageRange: null
        }
      }
    }
  },
  components:{
      Datetime
  },
  mixins: [basic_props, validation],
  data() {
    return {
      dateValue: null,
      completeDate: null,
    };
  },
  computed: {
    datepicker_date: {
      get: function () {
        return this.dateValue
      },
      set: function (val) {
        this.dateValue = val
        this.completeDate = moment(val).format('YYYY/MM/DD')
      }
    }
  },
  /*watch: {
    dateValue: function (date, oldDate){
      if (date!=oldDate) {
        this.prepopulateDate(date)
      }
    }
  },*/
  created() {
    // We listen for the event on the eventHub
    this.$eventHub.on('validate', (eventID) => {
      // check if the validate event ID matches the section ID provided via component prop
      // if the IDs match, or if there is no section ID provided then validation method will fire
      this.mixin_shouldValidateBool(eventID, this.sectionID) ? this.validate() : null
    })
  },
  mounted() {
    if (this.value !== undefined) {
      if (this.value.value !== '' && this.value.value !== null) {
        this.prepopulateDate(this.value.value, "prepopulated")
      }
    }
  },
  methods: {
    validate: function(type) {
      if(this.dateValue.length > 0){
        //change to moment format
        this.completeDate = moment(this.dateValue, "YYYY/MM/DD")
      }
      // check what validations are required
      // and build and array of booleans (these are then checked to see if input is valid)
      let result = [
        // default input type validation rule
        vRules.vrule_date(this.completeDate),
        // conditional validation rules
        this.required ? vRules.vrule_date_required(this.completeDate, this.customErrors.required) : true,
        this.minAge && this.maxAge
          ? vRules.vrule_ageRange(this.completeDate, [this.minAge, this.maxAge], this.customErrors.ageRange)
          : true,
        this.notBeforeDate ? vRules.vrule_notBeforeX(this.completeDate, this.notBeforeDate, this.customErrors.notBeforeDate) : true
      ];

      // check validation result
      // this function is imported from validation mixin
      // if will set the valid status and error message
      this.mixin_setValidationStatus(result, type === 'soft', true)

      // emit the updated value to parent
      // this function is included in the 'validation' mixin
      let date = moment(this.completeDate, "YYYY/MM/DD").format("YYYY/MM/DD")
      this.mixin_emitValueObject(type, date, this.inputname, this.isValid, this.validationMessage)
    },
    createDate: function () {
      if (this.dateValue.toString().length > 0) {
        // update completeDate variable
        //this.completeDate = this.dateValue
        // validate completeDate variable
        this.validate()
      } else {
        // set value to false, so that required isnt passed by empty completeDate variable
        this.completeDate = false;
      }
    },
    prepopulateDate: function (date, validationType) {
      if (date !== null) {
        // set commplete date for validation
        this.completeDate = moment(date, "YYYY/MM/DD")
        this.dateValue = moment(date, "YYYY/MM/DD").format('YYYY-MM-DD')
        this.validate(validationType)

        /*if (this.completeDate.isValid()) {

          if(validationType == "prepopulated"){
            var dateFormated = this.getDateInternalFormat(date)
          this.dateValue = dateFormated
        }
          // validate the new value
          this.validate(validationType)
        }*/
      }
    },
    getDateInternalFormat:function(date){
      var newDate = date.split('/')
      var isoString = newDate[0] + "-" + newDate[1] + "-" + newDate[2] + "T00:00:00.000Z"
      return isoString;
    },
    getDateIsoStringFormat:function(){
      var date = this.minDate;
      if(date == null || date == undefined) return null;
     return this.getDateInternalFormat(date);
    }
  }
};
</script>
