$gutter: 20px !default;
$gutter-double: 40px !default;
$gutter-half: $gutter/2;
$gutter-quarter: $gutter/4;
$gutter-minus: -$gutter !default;
$color-range-bg: blue !default;
$color-range-handle-bg: green !default;
$color-range-active-bg: red !default;

.vue-nouislider {
  position: relative;
  margin: 45px 0;
  .noUi-target {
    width: calc(100% - 140px);
    margin: auto;
    height: $gutter + 2px;
    border: 0 none;
    box-shadow: none;
    border-radius: $gutter;
  }

  .noUi-connects {
    background: $color-range-bg;
    border-radius: $gutter;
    overflow: hidden;
  }
  // active value bar
  .noUi-connect {
    background: $color-range-active-bg;
  }

  .noUi-handle {
    width: $gutter-double;
    height: $gutter-double;
    right: $gutter-minus;
    top: -10px;
    background: $color-range-handle-bg;
    box-shadow: none;
    border: 0 none;
    border-radius: 50%;
    &:before,
    &:after {
      display: none;
    }
  }

  .noUi-tooltip {
    background: $color-range-handle-bg;
    border-radius: $gutter-quarter;
    border: none;
    width: 100px;
    padding: 2px $gutter-half;
    top: -32px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    text-align: center;

    &:after {
      top: 100%;
      left: 50%;
      border: 5px solid rgba(136, 183, 213, 0);
      border-top-color: $color-range-handle-bg;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      margin-left: -5px;
    }

    @media only screen and (max-width: 380px) {
      font-size: 15px;
      top: -30px;
      width: 94px;
      padding: 1px 0;
    }
  }
}

button.slider-btn {
  width: $gutter-double;
  height: $gutter-double;
  background: $color-range-handle-bg;
  display: inline-block;
  //margin-top: -23px;
  border-radius: 50%;
  position: relative;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  cursor: pointer;
  border: 0;
  vertical-align: top;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;

  &.decrease {
    left: 0;
  }

  &.increase {
    right: 0;
  }
}

.buttonToggle {
  .slider-btn {
    display: none;
  }
  .noUi-target {
    width: 100%;
  }
}

.decrease:after,
.increase:after {
  background-color: #fff;
  width: 26px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -13px;
  content: "";
}

.increase:before {
  background-color: #fff;
  width: 4px;
  height: 26px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -2px;
  content: "";
}