<template>
  <div id="app">
    <form>
      <h2>Input Testing</h2>
      <password-input 
        label="Password input"
        inputname="password"  
        :required="true" 
        :softValidate="true" 
        @validated="log" />

      <buttons-radio 
        label='testing button'
        inputname='yesno'
        iconClass='testing'
        :required='true'
        :isPrepop="true"
        @validated='log'
        :options="[{ 'value': true, 'name': 'Yes' }, { 'value': false, 'name': 'No' }]"
        :value="{ 'value': true }"/>


      <date-picker 
        label='Test Datepicker'
        inputname='datepicker'
        iconClass='testing'
        :value="{ value: '2019/12/04' }"
        :required='true'
        :softValidate='true'
        :isPrepop="true"
        @validated='log'/>

      <text-input 
        label="Text input"
        inputname="firstname"  
        autocomplete="given-name"
        iconClass="testing"
        :required="true" 
        :softValidate="true" 
        :value="formData.firstName"
        :isPrepop="true"
        @validated="log" />
      
      <text-input 
        label="Prepopulated text input"
        inputname="prepopulated"  
        iconClass="testing"
        :required="true" 
        :softValidate="true" 
        :value="formData.prepopulated"
        :isPrepop="true"
        @validated="log"
      />

      <text-input-joint 
        label="Joint text input" 
        inputname="fullname" 
        iconClass="testing"
        :required="true" 
        :placeholder="['First name', 'Last name']"
        :minLength="2"
        :maxLength="32" 
        :softValidate="true" 
        :value="formData.name"
        :isPrepop="true"
        @validated="log"
      />

      <email-input 
        label="Email input" 
        inputname="email" 
        autocomplete="email" 
        :required="true" 
        :softValidate="true"
        :value="formData.email"
        :isPrepop="true"
        :use_mailcheck="true"
        @validated="log"/>

      <date-input 
        label="Date input" 
        inputname="date" 
        :autocomplete="{
          day: 'bday bday-day',
          month: 'bday bday-month',
          year: 'bday bday-year'
        }"
        :required="true"
        :softValidate="true"
        :notBeforeDate="'1800/08/16'"
        :value="formData.dob"
        :isPrepop="true"
        @validated="log" 
      />
      <date-seperate-input 
        label="Date input" 
        inputname="date2" 
        :autocomplete="{
          day: 'bday bday-day',
          month: 'bday bday-month',
          year: 'bday bday-year'
        }"
        :required="true"
        :softValidate="true"
        :notBeforeDate="'1800/08/16'"
        :value="''"
        :isPrepop="false"
        @validated="log" 
      />

      <currency-input
        label="Currency input"
        inputname="currency"  
        iconClass="testing"
        :required="true" 
        :softValidate="true" 
        :value="formData.income"
        :isPrepop="true"
        @validated="log"
      />

      <phone-input
        label="Phone input"
        inputname="phone"  
        iconClass="testing"
        type="mobile"
        :required="true" 
        :softValidate="true" 
        :value="formData.phone"
        :isPrepop="true"
        @validated="log"
      />
      <phone-input-w-button
        label="Phone input w/ button"
        inputname="phone"  
        iconClass="testing"
        type="mobile"
        setValueVariable="07976377141" 
        btnCopy="Set Value"
        :required="true" 
        :softValidate="true" 
        :value="formData.phone"
        :isPrepop="true"
        @validated="log"
      />      

      
      <address-block
        :index="0"
        inputname="address1"
        type="normal"
        :searchAPI="'https://uat-oceanfinance-master.iltest.co.uk/credit-card-form/api/postcode/'"
        :required="true"
        :sectionID="8"
        :value="null"
        :yearsRequired="2"
        :livedYearSubtraction="4"
        
        :labelType="null"
        :placeholders="{
          house_number: 'House or building number',
          postcode: 'Postcode'
        }"
        :includeManual="true"
        :isTesting="true"
        iconClass="w-icon w-icon-home"
        iconClass2="w-icon w-icon-pin"
        :isPrepop="true"
        @postcode-search-error="log"
      ></address-block>

      <!--<time-years-months label="testing" inputname="date2" :settings="{ support_text: false }" @validated="log"/>-->
      
      <range-slider 
        inputname="amount"
        label="Question text"
        type="currency"
        :value="{value: 2000}"
        :rangeSettings="{
            'min': [100, 50],
            '20%': [1000, 100],
            '60%': [5000, 100],
            'max': [10000, 500]
        }"
        @set="log"
      />


      <button type="button" @click="validate()">Validate</button>
    </form>
  </div>
</template>

<script>
import 'moment'

import TextInput from './components/textinput.vue'
import TextInputJoint from './components/textinput-joint.vue'
import ButtonsRadio from './components/buttons-radio.vue'
import EmailInput from './components/emailinput.vue'
import CurrencyInput from './components/currency-input.vue'
import DateInput from './components/dateinput.vue'
import DateSeperateInput from './components/date-seperate-input.vue'
import PasswordInput from './components/password-input.vue'

import PhoneInput from './components/phoneinput.vue'
import PhoneInputWithButton from './components/phoneinput-w-button.vue'
import AddressBlock from './components/address/address-block.vue'
import TimeYearsMonths from './components/time-years-months.vue'
import DatePicker from './components/date-picker/date-picker';
import RangeSlider from './components/range-slider';

export default {
  name: 'app',
  components: {
    TextInput,
    TextInputJoint,
    CurrencyInput,
    DateInput,
    DateSeperateInput,
    EmailInput,
    PhoneInput,
    "phone-input-w-button": PhoneInputWithButton,
    AddressBlock,
    TimeYearsMonths,
    DatePicker,
    ButtonsRadio,
    RangeSlider,
    PasswordInput
  },
  methods: {
    validate: function(){
      console.log('emit')// We listen for the event on the eventHub
      this.$eventHub.$emit('validate', 1)
    },
    log: function(event) {
      console.log(event)
    }
  },
   data () {
    return {
      // enviroment setting
      date: null,
      test: '',
      disabled : false,
      formData: {
        name: [],
        secondName: {
          value: '',
          isValid: null
        },
        prepopulated: {
          value: 'Existing value',
          isValid: null
        },
        email: {
          value: 'test@test.com',
          isValid: null
        },
        dob: {
          value: '1989/11/24',
          isValid: null
        },
        income: {
          value: 12000,
          isValid: null
        },
        phone: {
          value: '07878787878',
          isValid: null
        },
      }
    }
   }
}
</script>

<style lang="scss">

@import "./assets/range-slider.scss";

$color-range-active-bg: red;


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
  color: #2c3e50;
  max-width: 700px;
  margin: 60px auto;
}

h2 {
  text-align: center;
}

.question {
  padding: 20px;
  margin: 10px;
  &.good {
    border: 4px solid #45ca45;
  }
  &.error {
    border: 4px solid tomato;
  }
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  padding: 0 20px;
}

.error-message {
  display: none;
  margin: 20px 0 0;
  .error & {
    display: block;
  }
}

.three-col-input {
  display: flex;
  input {
    width: 33%;
  }
}
</style>
